src/chunks/addphoto.pug
.addphoto
    .container
        .addphoto__wrapper
            h2.addphoto__title Завантаження фотографій
            form.addphoto-form#addphotoform
                .addphoto__content
                    .addphoto__window
                        .addphoto__preview
                            img#photo-preview(src='', alt='')
                        label
                            .addphoto__window-text
                                i
                                    +icon("camera")
                                span Оберіть файл
                                input(type="file" max="1" accept="image/*" name="photoname" id="newphoto").js-addphoto.addphoto__newphoto
                        a(href="#").addphoto__delphoto.js-delphoto Видалити фото
                            i
                                +icon("close")
                    .addphoto__data
                        .addphoto__data-row
                            span.addphoto__data-name Назва:
                            input(type="text" name="name" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Дата:
                            .addphoto__date
                                input(type="text" name="date" placeholder="" id="datepicker").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Джерело:
                            input(type="text" name="source" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Місце:
                            input(type="text" name="place" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Короткий опис:
                            textarea(name="short-description" placeholder="").addphoto__data-input
                .addphoto__text
                    span.addphoto__text-title Опис:
                    textarea(name="description" placeholder="").addphoto__data-input
                .addphoto__addtags
                    span.addphoto__addtags-title Додати теги:
                    .addphoto__addtags-content
                        input(type="text" name="addtags" placeholder="Наберiть наступний тег для перевiрки")
                        span.addphoto__addtags-text Додати тег
                            i
                                +icon("ico-add")
                        //span.addphoto__addtags-text-bottom Тегiв за запитом не знайдено
                    .addphoto__tags
                        .tags
                            span(data-tag="tag1").tags__item #конюх
                            span(data-tag="tag2").tags__item #коневодство
                            span(data-tag="tag3").tags__item #лошадь
                            span(data-tag="tag4").tags__item #высокие_сапоги
                            span(data-tag="tag5").tags__item #зипун
                            span(data-tag="tag6").tags__item #картуз
                            span(data-tag="tag7").tags__item #высокие_сапоги
                            span(data-tag="tag8").tags__item #зипун
                            span(data-tag="tag9").tags__item #картуз
                .addphoto__btns
                    a(href="#").btn#add-photo-btn
                        span Додати
                        +icon("btn-bg")
                    a(href="#").btn#add-next-btn
                        span Додати та продовжити
                        +icon("btn-bg")

dist/addphoto.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <!--add to .header class .authorized for authorized users-->
    <header class="header authorized" id="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__wrapper-left">
            <div class="header__menu" id="nav-icon"><span></span><span></span><span></span><span></span><span></span><span></span></div><a class="header__logo" href="/">
              <svg class="icon icon-logo ">
                <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
              </svg></a><a class="header__logo-mobile" href="/">Історія Українських Мазур</a>
            <div class="header__content">
              <nav class="menu">
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Історія Мазур</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="catalog.html">Фото</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Документи</a></div>
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Родинні історії</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="#">Про проект</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Джерела</a></div>
                <div class="header__info-mobile">
                  <div class="header__info-mobile-container">
                    <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
                    <div class="header__authorized">
                      <div class="userpic js-user">
                        <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                        <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                        <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
                      </div>
                    </div>
                    <div class="mobile-lng" data-lng="UA">
                      <div class="mobile-lng__item js-mobile-lng active"><span>UA</span></div>
                      <div class="mobile-lng__item js-mobile-lng"><span>PL</span></div>
                    </div>
                  </div>
                </div>
              </nav>
              <div class="header__content-bottom">
                <form class="header__search" id="search">
                  <input class="header__search-input" type="search" name="search" id="header-search" placeholder="Пошук фото"><i class="header__search-submit js-search">
                    <svg class="icon icon-ico-search ">
                      <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                    </svg></i><i class="header__search-close js-search-close">
                    <svg class="icon icon-close-small ">
                      <use xlink:href="img/svgsprite/sprite.svg#close-small"></use>
                    </svg></i>
                </form><i class="header__search-submit header__search-submit--mobile js-search-mobile">
                  <svg class="icon icon-ico-search ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                  </svg></i>
                <div class="header__lang"><a class="header__lang-link" href="#"><span id="site-lang">ua</span></a>
                  <ul class="header__lang-list">
                    <li><a href="#">pl</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="header__wrapper-right">
            <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
            <div class="header__authorized">
              <div class="userpic js-user">
                <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="popup-window">
        <h2>Дякуємо<br> за Ваше повідомлення!</h2><span>Ваше повідомлення буде опубліковано після перевірки модератором.</span><a class="btn" href="#"><span>OK</span>
          <svg class="icon icon-btn-bg ">
            <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
          </svg></a><i class="js-popup-close">
          <svg class="icon icon-close ">
            <use xlink:href="img/svgsprite/sprite.svg#close"></use>
          </svg></i>
      </div>
    </header>
    <div class="breadcrums__wrapper">
      <div class="container">
        <div class="breadcrums"><a class="breadcrums__item" href="/">Головна</a><a class="breadcrums__item" href="#">Назва сторінки</a></div>
      </div>
    </div>
    <div class="page-body" id="page-body">
      <div class="addphoto">
        <div class="container">
          <div class="addphoto__wrapper">
            <h2 class="addphoto__title">Завантаження фотографій</h2>
            <form class="addphoto-form" id="addphotoform">
              <div class="addphoto__content">
                <div class="addphoto__window">
                  <div class="addphoto__preview"><img id="photo-preview" src="" alt=""></div>
                  <label>
                    <div class="addphoto__window-text"><i>
                        <svg class="icon icon-camera ">
                          <use xlink:href="img/svgsprite/sprite.svg#camera"></use>
                        </svg></i><span>Оберіть файл</span>
                      <input class="js-addphoto addphoto__newphoto" type="file" max="1" accept="image/*" name="photoname" id="newphoto">
                    </div>
                  </label><a class="addphoto__delphoto js-delphoto" href="#">Видалити фото<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></a>
                </div>
                <div class="addphoto__data">
                  <div class="addphoto__data-row"><span class="addphoto__data-name">Назва:</span>
                    <input class="addphoto__data-input" type="text" name="name" placeholder="">
                  </div>
                  <div class="addphoto__data-row"><span class="addphoto__data-name">Дата:</span>
                    <div class="addphoto__date">
                      <input class="addphoto__data-input" type="text" name="date" placeholder="" id="datepicker">
                    </div>
                  </div>
                  <div class="addphoto__data-row"><span class="addphoto__data-name">Джерело:</span>
                    <input class="addphoto__data-input" type="text" name="source" placeholder="">
                  </div>
                  <div class="addphoto__data-row"><span class="addphoto__data-name">Місце:</span>
                    <input class="addphoto__data-input" type="text" name="place" placeholder="">
                  </div>
                  <div class="addphoto__data-row"><span class="addphoto__data-name">Короткий опис:</span>
                    <textarea class="addphoto__data-input" name="short-description" placeholder=""></textarea>
                  </div>
                </div>
              </div>
              <div class="addphoto__text"><span class="addphoto__text-title">Опис:</span>
                <textarea class="addphoto__data-input" name="description" placeholder=""></textarea>
              </div>
              <div class="addphoto__addtags"><span class="addphoto__addtags-title">Додати теги:</span>
                <div class="addphoto__addtags-content">
                  <input type="text" name="addtags" placeholder="Наберiть наступний тег для перевiрки"><span class="addphoto__addtags-text">Додати тег<i>
                      <svg class="icon icon-ico-add ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-add"></use>
                      </svg></i></span>
                  <!--span.addphoto__addtags-text-bottom Тегiв за запитом не знайдено-->
                </div>
                <div class="addphoto__tags">
                  <div class="tags"><span class="tags__item" data-tag="tag1">#конюх</span><span class="tags__item" data-tag="tag2">#коневодство</span><span class="tags__item" data-tag="tag3">#лошадь</span><span class="tags__item" data-tag="tag4">#высокие_сапоги</span><span class="tags__item" data-tag="tag5">#зипун</span><span class="tags__item" data-tag="tag6">#картуз</span><span class="tags__item" data-tag="tag7">#высокие_сапоги</span><span class="tags__item" data-tag="tag8">#зипун</span><span class="tags__item" data-tag="tag9">#картуз</span></div>
                </div>
              </div>
              <div class="addphoto__btns"><a class="btn" href="#" id="add-photo-btn"><span>Додати</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a><a class="btn" href="#" id="add-next-btn"><span>Додати та продовжити</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="wrapper footer" id="footer">
      <div class="container">
        <div class="footer__wrapper"><a class="footer__logo" href="/"><span>Історія Українських Мазур</span>
            <svg class="icon icon-logo ">
              <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
            </svg></a>
          <div class="footer__center">
            <div class="footer__menu">
              <div class="footer__submenu"><a href="#">Фото</a><a href="#">Документи</a><a href="#">Загальна історія</a></div>
              <div class="footer__submenu"><a href="#">Родинні історії</a><a href="#">Про проект</a><a href="#">Джерела</a></div>
            </div>
            <div class="footer__sponsors"><a class="footer__sponsors-item footer__sponsors-item--ukrdim" href="#">
                <svg class="icon icon-ukr-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ukr-logo"></use>
                </svg></a><a class="footer__sponsors-item footer__sponsors-item--ploskiriv" href="#">
                <svg class="icon icon-ploskiriv-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ploskiriv-logo"></use>
                </svg></a></div>
          </div>
          <div class="footer__soc"><span class="footer__soc-title">Ми в мережах:</span>
            <div class="footer__soc-wrapper"><a class="footer__soc-item footer__soc-item--fb" href="#">
                <svg class="icon icon-ico-fb ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-fb"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--inst" href="#">
                <svg class="icon icon-ico-inst ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-inst"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--yt" href="#">
                <svg class="icon icon-ico-yt ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-yt"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup">
      <div class="container">
        <div class="popup__wrapper">
          <div class="popup__item popup__login" id="popup-login">
            <h2 class="popup__title">Вхід</h2>
            <div class="popup__content"><span class="popup__subtitle">Авторизовані користувачі можуть завантажувати на сайт фотографії.</span>
              <form class="popup__form" id="validate-login">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div>
                    <input class="popup__input" type="password" placeholder="Ваш пароль" name="pass">
                  </div>
                </div><a class="btn popup__btn js-login-submit" href="#"><span>увійти</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__links"><a class="popup__links-item js-restore-pass" href="#">Відновити пароль</a><a class="popup__links-item js-register" href="#">Зареєструватися</a></div>
                <div class="popup__soc"><span class="popup__soc-title">Або увiйти за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div>
          <div class="popup__item popup__restore" id="popup-restore">
            <h2 class="popup__title">Відновити пароль</h2>
            <div class="popup__content"><span class="popup__subtitle">На вашу пошту будуть відправлені інструкції по відновленню паролю.</span>
              <form class="popup__form" id="validate-restore">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                </div><a class="btn popup__btn js-restore-submit" href="#"><span>надіслати</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
              </form>
            </div>
          </div>
          <div class="popup__item popup__register" id="popup-register">
            <h2 class="popup__title">Реєстрація</h2>
            <div class="popup__content">
              <form class="popup__form" id="validate-register">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="text" placeholder="Ваше ім'я" name="firstname">
                  </div>
                  <div>
                    <input class="popup__input" type="text" placeholder="Прізвище" name="lastname">
                  </div>
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div class="popup__recaptcha">recaptcha</div>
                </div><a class="btn popup__btn js-register-submit" href="#"><span>зареєструватися</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__soc"><span class="popup__soc-title">Або зареєструватись за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div><span class="popup__close js-close-popup">
            <svg class="icon icon-close ">
              <use xlink:href="img/svgsprite/sprite.svg#close"></use>
            </svg></span>
        </div>
      </div>
    </div>
  </div><!-- inject:js -->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/lib/autosize.min.js"></script>
<script src="js/vendor/lib/dotdotdot.js"></script>
<script src="js/vendor/lib/jquery-ui.min.js"></script>
<script src="js/vendor/lib/jquery.fancybox.min.js"></script>
<script src="js/vendor/lib/jquery.formstyler.min.js"></script>
<script src="js/vendor/lib/jquery.mask.js"></script>
<script src="js/vendor/lib/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/jquery.validate.min.js"></script>
<script src="js/vendor/lib/messages_uk.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<script src="js/vendor/lib/slick.min.js"></script>
<!-- endinject -->

  <script src="js/common.js"></script>
  <script src="js/datepicker-pl.js"></script>
  <script src="js/datepicker-uk.js"></script>
</html>
