src/chunks/catalog.pug
.catalog
    .container
        .catalog__wrapper
            h2.catalog__title Каталог фото
            .popular-categories.catalog__content
                .popular-categories__content
                    .catalog__tag-view.js-tags-remove
                        span.catalog__tag-view-title Ви дивитесь:
                        span(data-tag="tag1").tags__item.tags__del #курорт
                            i
                                +icon("close")
                        span(data-tag="tag2").tags__item.tags__del #коневодство
                            i
                                +icon("close")
                        span(data-tag="tag3").tags__item.tags__del #лошадь
                            i
                                +icon("close")
                        span(data-tag="tag4").tags__item.tags__del #высокие_сапоги
                            i
                                +icon("close")
                        span(data-tag="tag5").tags__item.tags__del #зипун
                            i
                                +icon("close")
                        span(data-tag="tag6").tags__item.tags__del #картуз
                            i
                                +icon("close")
                        span(data-tag="tag7").tags__item.tags__del #панорама_города
                            i
                                +icon("close")
                        span(data-tag="tag8").tags__item.tags__del #обелиск_Петру_I
                            i
                                +icon("close")
                        span(data-tag="tag9").tags__item.tags__del #липецкие_минеральные_воды
                            i
                                +icon("close")
                        span(data-tag="tag10").tags__item.tags__del #картуз
                            i
                                +icon("close")
                        a(href="#").catalog__tagsremove.js-alltagsremove Видалити всi теги
                            i
                                +icon("close")
                    .catalog__photo
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-1.png" alt="")
                            .popular-categories__content-text
                                span Історія Українських <br>Мазур Фото 1
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Історія Українських <br>Мазур Фото 1
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-2.png" alt="")
                            .popular-categories__content-text
                                span Слідами українських Мазур
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Слідами українських Мазур
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-3.png" alt="")
                            .popular-categories__content-text
                                span Слідами українських Мазур
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Слідами українських Мазур
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-4.png" alt="")
                            .popular-categories__content-text
                                span Dom Ludowy
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Dom Ludowy
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-5.png" alt="")
                            .popular-categories__content-text
                                span Гарна природа
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Гарна природа
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-6.png" alt="")
                            .popular-categories__content-text
                                span Гарна природа
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Гарна природа
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-7.png" alt="")
                            .popular-categories__content-text
                                span Правдива iсторiя <br>одноi родини
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Правдива iсторiя <br>одноi родини
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-8.png" alt="")
                            .popular-categories__content-text
                                span Родина мазурів. <br>Світлина ХХ століття
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Родина мазурів. <br>Світлина ХХ століття
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-9.png" alt="")
                            .popular-categories__content-text
                                span Гарна природа
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Гарна природа
                    .catalog__control
                        .catalog__control-more
                            a(href="#").btn
                                span показати ще
                                +icon("btn-bg")
                        .catalog__control-pagination
                            .pagination(data-pagination="1")
                                a(href="#").pagination__item.first.unactive
                                    +icon("pagination-arrows")
                                a(href="#").pagination__item.active 1
                                a(href="#").pagination__item 2
                                a(href="#").pagination__item 3
                                a(href="#").pagination__item 4
                                a(href="#").pagination__item.interval ...
                                a(href="#").pagination__item 350
                                a(href="#").pagination__item.last
                                    +icon("pagination-arrows")
                .popular-categories__aside
                    h3.popular-categories__aside-title Популярні Категорії
                    .popular-categories__aside-tags.tags.js-tags
                        span(data-tag="tag1").tags__item.active #конюх
                        span(data-tag="tag2").tags__item #коневодство
                        span(data-tag="tag3").tags__item #лошадь
                        span(data-tag="tag4").tags__item #высокие_сапоги
                        span(data-tag="tag5").tags__item #зипун
                        span(data-tag="tag6").tags__item #картуз
                        span(data-tag="tag7").tags__item #панорама_города
                        span(data-tag="tag8").tags__item #обелиск_Петру_I
                        span(data-tag="tag9").tags__item #липецкие_минеральные_воды
                        span(data-tag="tag10").tags__item #картуз
                        span(data-tag="tag11").tags__item #присторождественский_собор_в_Липецке
                        span(data-tag="tag12").tags__item #городские_здания
                        span(data-tag="tag13").tags__item #поводья
                        span(data-tag="tag13").tags__item #утраченная_церковь
                        span(data-tag="tag7").tags__item.hidden #панорама_города
                        span(data-tag="tag8").tags__item.hidden #обелиск_Петру_I
                        span(data-tag="tag9").tags__item.hidden #липецкие_минеральные_воды
                        span(data-tag="tag10").tags__item.hidden #картуз
                        span(data-tag="tag12").tags__item.hidden #городские_здания
                        span(data-tag="tag13").tags__item.hidden #поводья
                        span(data-tag="tag13").tags__item.hidden #утраченная_церковь
                    a(href="#").link-btn.catalog__alltags.js-showalltags Показати всi теги

dist/catalog.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <!--add to .header class .authorized for authorized users-->
    <header class="header authorized" id="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__wrapper-left">
            <div class="header__menu" id="nav-icon"><span></span><span></span><span></span><span></span><span></span><span></span></div><a class="header__logo" href="/">
              <svg class="icon icon-logo ">
                <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
              </svg></a><a class="header__logo-mobile" href="/">Історія Українських Мазур</a>
            <div class="header__content">
              <nav class="menu">
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Історія Мазур</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="catalog.html">Фото</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Документи</a></div>
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Родинні історії</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="#">Про проект</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Джерела</a></div>
                <div class="header__info-mobile">
                  <div class="header__info-mobile-container">
                    <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
                    <div class="header__authorized">
                      <div class="userpic js-user">
                        <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                        <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                        <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
                      </div>
                    </div>
                    <div class="mobile-lng" data-lng="UA">
                      <div class="mobile-lng__item js-mobile-lng active"><span>UA</span></div>
                      <div class="mobile-lng__item js-mobile-lng"><span>PL</span></div>
                    </div>
                  </div>
                </div>
              </nav>
              <div class="header__content-bottom">
                <form class="header__search" id="search">
                  <input class="header__search-input" type="search" name="search" id="header-search" placeholder="Пошук фото"><i class="header__search-submit js-search">
                    <svg class="icon icon-ico-search ">
                      <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                    </svg></i><i class="header__search-close js-search-close">
                    <svg class="icon icon-close-small ">
                      <use xlink:href="img/svgsprite/sprite.svg#close-small"></use>
                    </svg></i>
                </form><i class="header__search-submit header__search-submit--mobile js-search-mobile">
                  <svg class="icon icon-ico-search ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                  </svg></i>
                <div class="header__lang"><a class="header__lang-link" href="#"><span id="site-lang">ua</span></a>
                  <ul class="header__lang-list">
                    <li><a href="#">pl</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="header__wrapper-right">
            <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
            <div class="header__authorized">
              <div class="userpic js-user">
                <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="popup-window">
        <h2>Дякуємо<br> за Ваше повідомлення!</h2><span>Ваше повідомлення буде опубліковано після перевірки модератором.</span><a class="btn" href="#"><span>OK</span>
          <svg class="icon icon-btn-bg ">
            <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
          </svg></a><i class="js-popup-close">
          <svg class="icon icon-close ">
            <use xlink:href="img/svgsprite/sprite.svg#close"></use>
          </svg></i>
      </div>
    </header>
    <div class="breadcrums__wrapper">
      <div class="container">
        <div class="breadcrums"><a class="breadcrums__item" href="/">Головна</a><a class="breadcrums__item" href="#">Назва сторінки</a></div>
      </div>
    </div>
    <div class="page-body" id="page-body">
      <div class="catalog">
        <div class="container">
          <div class="catalog__wrapper">
            <h2 class="catalog__title">Каталог фото</h2>
            <div class="popular-categories catalog__content">
              <div class="popular-categories__content">
                <div class="catalog__tag-view js-tags-remove"><span class="catalog__tag-view-title">Ви дивитесь:</span><span class="tags__item tags__del" data-tag="tag1">#курорт<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag2">#коневодство<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag3">#лошадь<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag4">#высокие_сапоги<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag5">#зипун<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag6">#картуз<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag7">#панорама_города<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag8">#обелиск_Петру_I<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag9">#липецкие_минеральные_воды<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><span class="tags__item tags__del" data-tag="tag10">#картуз<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></span><a class="catalog__tagsremove js-alltagsremove" href="#">Видалити всi теги<i>
                      <svg class="icon icon-close ">
                        <use xlink:href="img/svgsprite/sprite.svg#close"></use>
                      </svg></i></a></div>
                <div class="catalog__photo"><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-1.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Історія Українських <br>Мазур Фото 1</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Історія Українських <br>Мазур Фото 1</span></div></a><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-2.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Слідами українських Мазур</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Слідами українських Мазур</span></div></a><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-3.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Слідами українських Мазур</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Слідами українських Мазур</span></div></a><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-4.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Dom Ludowy</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Dom Ludowy</span></div></a><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-5.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Гарна природа</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Гарна природа</span></div></a><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-6.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Гарна природа</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Гарна природа</span></div></a><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-7.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Правдива iсторiя <br>одноi родини</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Правдива iсторiя <br>одноi родини</span></div></a><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-8.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Родина мазурів. <br>Світлина ХХ століття</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Родина мазурів. <br>Світлина ХХ століття</span></div></a><a class="popular-categories__content-item" href="#">
                    <div class="popular-categories__content-img"><img src="./img/photo/photo-9.png" alt=""></div>
                    <div class="popular-categories__content-text"><span>Гарна природа</span></div>
                    <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Гарна природа</span></div></a></div>
                <div class="catalog__control">
                  <div class="catalog__control-more"><a class="btn" href="#"><span>показати ще</span>
                      <svg class="icon icon-btn-bg ">
                        <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                      </svg></a></div>
                  <div class="catalog__control-pagination">
                    <div class="pagination" data-pagination="1"><a class="pagination__item first unactive" href="#">
                        <svg class="icon icon-pagination-arrows ">
                          <use xlink:href="img/svgsprite/sprite.svg#pagination-arrows"></use>
                        </svg></a><a class="pagination__item active" href="#">1</a><a class="pagination__item" href="#">2</a><a class="pagination__item" href="#">3</a><a class="pagination__item" href="#">4</a><a class="pagination__item interval" href="#">...</a><a class="pagination__item" href="#">350</a><a class="pagination__item last" href="#">
                        <svg class="icon icon-pagination-arrows ">
                          <use xlink:href="img/svgsprite/sprite.svg#pagination-arrows"></use>
                        </svg></a></div>
                  </div>
                </div>
              </div>
              <div class="popular-categories__aside">
                <h3 class="popular-categories__aside-title">Популярні Категорії</h3>
                <div class="popular-categories__aside-tags tags js-tags"><span class="tags__item active" data-tag="tag1">#конюх</span><span class="tags__item" data-tag="tag2">#коневодство</span><span class="tags__item" data-tag="tag3">#лошадь</span><span class="tags__item" data-tag="tag4">#высокие_сапоги</span><span class="tags__item" data-tag="tag5">#зипун</span><span class="tags__item" data-tag="tag6">#картуз</span><span class="tags__item" data-tag="tag7">#панорама_города</span><span class="tags__item" data-tag="tag8">#обелиск_Петру_I</span><span class="tags__item" data-tag="tag9">#липецкие_минеральные_воды</span><span class="tags__item" data-tag="tag10">#картуз</span><span class="tags__item" data-tag="tag11">#присторождественский_собор_в_Липецке</span><span class="tags__item" data-tag="tag12">#городские_здания</span><span class="tags__item" data-tag="tag13">#поводья</span><span class="tags__item" data-tag="tag13">#утраченная_церковь</span><span class="tags__item hidden" data-tag="tag7">#панорама_города</span><span class="tags__item hidden" data-tag="tag8">#обелиск_Петру_I</span><span class="tags__item hidden" data-tag="tag9">#липецкие_минеральные_воды</span><span class="tags__item hidden" data-tag="tag10">#картуз</span><span class="tags__item hidden" data-tag="tag12">#городские_здания</span><span class="tags__item hidden" data-tag="tag13">#поводья</span><span class="tags__item hidden" data-tag="tag13">#утраченная_церковь</span></div><a class="link-btn catalog__alltags js-showalltags" href="#">Показати всi теги</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="wrapper footer" id="footer">
      <div class="container">
        <div class="footer__wrapper"><a class="footer__logo" href="/"><span>Історія Українських Мазур</span>
            <svg class="icon icon-logo ">
              <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
            </svg></a>
          <div class="footer__center">
            <div class="footer__menu">
              <div class="footer__submenu"><a href="#">Фото</a><a href="#">Документи</a><a href="#">Загальна історія</a></div>
              <div class="footer__submenu"><a href="#">Родинні історії</a><a href="#">Про проект</a><a href="#">Джерела</a></div>
            </div>
            <div class="footer__sponsors"><a class="footer__sponsors-item footer__sponsors-item--ukrdim" href="#">
                <svg class="icon icon-ukr-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ukr-logo"></use>
                </svg></a><a class="footer__sponsors-item footer__sponsors-item--ploskiriv" href="#">
                <svg class="icon icon-ploskiriv-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ploskiriv-logo"></use>
                </svg></a></div>
          </div>
          <div class="footer__soc"><span class="footer__soc-title">Ми в мережах:</span>
            <div class="footer__soc-wrapper"><a class="footer__soc-item footer__soc-item--fb" href="#">
                <svg class="icon icon-ico-fb ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-fb"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--inst" href="#">
                <svg class="icon icon-ico-inst ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-inst"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--yt" href="#">
                <svg class="icon icon-ico-yt ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-yt"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup">
      <div class="container">
        <div class="popup__wrapper">
          <div class="popup__item popup__login" id="popup-login">
            <h2 class="popup__title">Вхід</h2>
            <div class="popup__content"><span class="popup__subtitle">Авторизовані користувачі можуть завантажувати на сайт фотографії.</span>
              <form class="popup__form" id="validate-login">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div>
                    <input class="popup__input" type="password" placeholder="Ваш пароль" name="pass">
                  </div>
                </div><a class="btn popup__btn js-login-submit" href="#"><span>увійти</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__links"><a class="popup__links-item js-restore-pass" href="#">Відновити пароль</a><a class="popup__links-item js-register" href="#">Зареєструватися</a></div>
                <div class="popup__soc"><span class="popup__soc-title">Або увiйти за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div>
          <div class="popup__item popup__restore" id="popup-restore">
            <h2 class="popup__title">Відновити пароль</h2>
            <div class="popup__content"><span class="popup__subtitle">На вашу пошту будуть відправлені інструкції по відновленню паролю.</span>
              <form class="popup__form" id="validate-restore">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                </div><a class="btn popup__btn js-restore-submit" href="#"><span>надіслати</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
              </form>
            </div>
          </div>
          <div class="popup__item popup__register" id="popup-register">
            <h2 class="popup__title">Реєстрація</h2>
            <div class="popup__content">
              <form class="popup__form" id="validate-register">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="text" placeholder="Ваше ім'я" name="firstname">
                  </div>
                  <div>
                    <input class="popup__input" type="text" placeholder="Прізвище" name="lastname">
                  </div>
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div class="popup__recaptcha">recaptcha</div>
                </div><a class="btn popup__btn js-register-submit" href="#"><span>зареєструватися</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__soc"><span class="popup__soc-title">Або зареєструватись за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div><span class="popup__close js-close-popup">
            <svg class="icon icon-close ">
              <use xlink:href="img/svgsprite/sprite.svg#close"></use>
            </svg></span>
        </div>
      </div>
    </div>
  </div><!-- inject:js -->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/lib/autosize.min.js"></script>
<script src="js/vendor/lib/dotdotdot.js"></script>
<script src="js/vendor/lib/jquery-ui.min.js"></script>
<script src="js/vendor/lib/jquery.fancybox.min.js"></script>
<script src="js/vendor/lib/jquery.formstyler.min.js"></script>
<script src="js/vendor/lib/jquery.mask.js"></script>
<script src="js/vendor/lib/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/jquery.validate.min.js"></script>
<script src="js/vendor/lib/messages_uk.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<script src="js/vendor/lib/slick.min.js"></script>
<!-- endinject -->

  <script src="js/common.js"></script>
</html>
