dist/detail.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <!--add to .header class .authorized for authorized users-->
    <header class="header authorized" id="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__wrapper-left">
            <div class="header__menu" id="nav-icon"><span></span><span></span><span></span><span></span><span></span><span></span></div><a class="header__logo" href="/">
              <svg class="icon icon-logo ">
                <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
              </svg></a><a class="header__logo-mobile" href="/">Історія Українських Мазур</a>
            <div class="header__content">
              <nav class="menu">
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Історія Мазур</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="catalog.html">Фото</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Документи</a></div>
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Родинні історії</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="#">Про проект</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Джерела</a></div>
                <div class="header__info-mobile">
                  <div class="header__info-mobile-container">
                    <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
                    <div class="header__authorized">
                      <div class="userpic js-user">
                        <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                        <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                        <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
                      </div>
                    </div>
                    <div class="mobile-lng" data-lng="UA">
                      <div class="mobile-lng__item js-mobile-lng active"><span>UA</span></div>
                      <div class="mobile-lng__item js-mobile-lng"><span>PL</span></div>
                    </div>
                  </div>
                </div>
              </nav>
              <div class="header__content-bottom">
                <form class="header__search" id="search">
                  <input class="header__search-input" type="search" name="search" id="header-search" placeholder="Пошук фото"><i class="header__search-submit js-search">
                    <svg class="icon icon-ico-search ">
                      <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                    </svg></i><i class="header__search-close js-search-close">
                    <svg class="icon icon-close-small ">
                      <use xlink:href="img/svgsprite/sprite.svg#close-small"></use>
                    </svg></i>
                </form><i class="header__search-submit header__search-submit--mobile js-search-mobile">
                  <svg class="icon icon-ico-search ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                  </svg></i>
                <div class="header__lang"><a class="header__lang-link" href="#"><span id="site-lang">ua</span></a>
                  <ul class="header__lang-list">
                    <li><a href="#">pl</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="header__wrapper-right">
            <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
            <div class="header__authorized">
              <div class="userpic js-user">
                <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="popup-window">
        <h2>Дякуємо<br> за Ваше повідомлення!</h2><span>Ваше повідомлення буде опубліковано після перевірки модератором.</span><a class="btn" href="#"><span>OK</span>
          <svg class="icon icon-btn-bg ">
            <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
          </svg></a><i class="js-popup-close">
          <svg class="icon icon-close ">
            <use xlink:href="img/svgsprite/sprite.svg#close"></use>
          </svg></i>
      </div>
    </header>
    <div class="breadcrums__wrapper">
      <div class="container">
        <div class="breadcrums"><a class="breadcrums__item" href="/">Головна</a><a class="breadcrums__item" href="#">Назва сторінки</a></div>
      </div>
    </div>
    <div class="page-body" id="page-body">
      <div class="detail">
        <div class="container">
          <div class="detail__wrapper">
            <h2 class="detail__title">Історія Українських Мазур - Назва Фото</h2>
            <div class="detail__head">
              <div class="detail__head-photo">
                <!--сюда ложим большое фото--><a class="detail__head-item" data-fancybox="gallery" href="./img/detail-photo.png">
                  <!--сюда ложим маленькое фото--><img src="./img/detail-photo.png" alt=""><i class="detail__zoom">
                    <svg class="icon icon-ico-search ">
                      <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                    </svg></i></a>
              </div>
              <div class="detail__head-history">
                <div class="detail__history-wrapper">
                  <div class="detail__control"><a class="detail__control-prev" href="#"><i>
                        <svg class="icon icon-slider-prev ">
                          <use xlink:href="img/svgsprite/sprite.svg#slider-prev"></use>
                        </svg></i><span>Попереднє<br>Фото</span></a><a class="detail__control-next" href="#"><span>Наступне<br>Фото</span><i>
                        <svg class="icon icon-slider-next ">
                          <use xlink:href="img/svgsprite/sprite.svg#slider-next"></use>
                        </svg></i></a></div>
                  <p class="detail__subtitle">Сатанів – селище міського типу на Хмельниччині. Тут буде дуже короткий опис.</p>
                  <div class="detail__info"><span><b>Дата:</b><span>1967 р.</span></span><span><b>Джерело:</b><span>Архiв</span></span><span><b>Мiсце:</b><span>Хмельницький</span></span><span><b>Автор:</b><a href="#">Мельник Петро</a></span></div>
                </div>
                <div class="detail__share"><a class="detail__share-item detail__share-item--fb" href="#"><i>
                      <svg class="icon icon-ico-fb ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-fb"></use>
                      </svg></i><span>Share</span></a><a class="detail__share-item detail__share-item--inst" href="#"><i>
                      <svg class="icon icon-ico-inst ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-inst"></use>
                      </svg></i><span>Post</span></a></div>
              </div>
            </div>
            <h2 class="detail__description-title">Опис</h2>
            <div class="detail__bottom">
              <div class="detail__description">
                <h2 class="detail__description-title mobile">Опис</h2>
                <div class="detail__description-text">
                  <p>Часто люди недооцінюють красу, котру може запропонувати Україна тим, хто насмілиться нею подорожувати. Не лише закордонна Європа володіє цікавими, привабливими містами та селами. Варто лише поглянути на будь яку частину України і ви обов'язково знайдете щось чарівне. Не виключенням є й Хмельниччина, до котрої ми сьогодні й звернемось у пошуках привабливих, мальовничих місцин.</p>
                  <p>Перша згадка про містечко <b>Сатанів</b> з’явилась ще у 1404 року. Окрім колоритної назви місто має також дуже навіть вражаючу архітектурну спадщину. Вежа Одровонжа – найстаріша споруда, що збереглася у <b>Сатанові</b>. Не далеко є старовинна кам’яна синагога.</p>
                  <p><b>Тарноруда – настільки маленьке селище, що здивуватись не важко. Тут проживає менше тисячі людей і, особисто мене, такі місцини завжди заманювали…</b></p>
                  <p>Головною окрасою містечка є Тарнорудський Костел, збудований в XVI столітті. Костел нищився кілька разів, в тому числі й в «радянський» період. В 90-х роках він активно відновлювався. Одною із головних цікавинок костелу був герб засновників храму, на сьогодні він зберігся погано, але все ще на місці. Також костел прикрашають оригінальні дубові двері.</p>
                </div>
                <div class="detail__comments">
                  <h3 class="detail__comments-title"><span id="detail__comments-count">3</span><span>Коментарi</span></h3>
                  <div class="comments">
                    <div class="comments__item">
                      <div class="comments__img"><img src="./img/comment-photo-1.png" alt=""></div>
                      <div class="comments__info">
                        <div class="comments__name"><span>Yana Rozenblit</span></div>
                        <div class="comments__text"><span>Кому бесплатно котика, Хмельницький! <br>Смотрите на этих няшных жопсиков, а лучше берите себе</span></div>
                      </div>
                    </div>
                    <div class="comments__item">
                      <div class="comments__img"><img src="./img/comment-photo-3.png" alt=""></div>
                      <div class="comments__info">
                        <div class="comments__name"><span>Nastia Kondratyuk</span></div>
                        <div class="comments__text"><span>Pure Perfection <br>#rogerwaters #usandthem</span></div>
                      </div>
                    </div>
                    <div class="comments__item">
                      <div class="comments__img"><img src="./img/comment-photo-2.png" alt=""></div>
                      <div class="comments__info">
                        <div class="comments__name"><span>Vadym Bondar</span></div>
                        <div class="comments__text"><span>це був прекрасний час/it was a great time! <br>дякую усім причетним! special thanks to Cisco & The Racecars</span></div>
                      </div>
                    </div>
                  </div>
                  <form class="detail__com-form" id="validate-detail-comment">
                    <div class="detail__com-textarea-wrapper">
                      <textarea class="detail__com-textarea" placeholder="Ваш коментар" name="comment"></textarea>
                    </div><a class="btn detail__com-btn js-detail-add-com" href="#"><span>коментувати</span>
                      <svg class="icon icon-btn-bg ">
                        <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                      </svg></a><a class="btn detail__com-btn js-popup" href="#"><span>попап</span>
                      <svg class="icon icon-btn-bg ">
                        <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                      </svg></a>
                  </form>
                </div>
              </div>
              <div class="detail__tags">
                <div class="tags js-tags"><span class="tags__item active" data-tag="tag1">#конюх</span><span class="tags__item" data-tag="tag2">#коневодство</span><span class="tags__item" data-tag="tag3">#лошадь</span><span class="tags__item" data-tag="tag4">#высокие_сапоги</span><span class="tags__item" data-tag="tag5">#зипун</span><span class="tags__item" data-tag="tag11">#присторождественский_собор_в_Липецке</span><span class="tags__item" data-tag="tag12">#городские_здания</span><span class="tags__item" data-tag="tag13">#поводья</span><span class="tags__item" data-tag="tag14">#деревянные_дома</span><span class="tags__item" data-tag="tag15">#городской_пейзаж</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="wrapper footer" id="footer">
      <div class="container">
        <div class="footer__wrapper"><a class="footer__logo" href="/"><span>Історія Українських Мазур</span>
            <svg class="icon icon-logo ">
              <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
            </svg></a>
          <div class="footer__center">
            <div class="footer__menu">
              <div class="footer__submenu"><a href="#">Фото</a><a href="#">Документи</a><a href="#">Загальна історія</a></div>
              <div class="footer__submenu"><a href="#">Родинні історії</a><a href="#">Про проект</a><a href="#">Джерела</a></div>
            </div>
            <div class="footer__sponsors"><a class="footer__sponsors-item footer__sponsors-item--ukrdim" href="#">
                <svg class="icon icon-ukr-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ukr-logo"></use>
                </svg></a><a class="footer__sponsors-item footer__sponsors-item--ploskiriv" href="#">
                <svg class="icon icon-ploskiriv-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ploskiriv-logo"></use>
                </svg></a></div>
          </div>
          <div class="footer__soc"><span class="footer__soc-title">Ми в мережах:</span>
            <div class="footer__soc-wrapper"><a class="footer__soc-item footer__soc-item--fb" href="#">
                <svg class="icon icon-ico-fb ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-fb"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--inst" href="#">
                <svg class="icon icon-ico-inst ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-inst"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--yt" href="#">
                <svg class="icon icon-ico-yt ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-yt"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup">
      <div class="container">
        <div class="popup__wrapper">
          <div class="popup__item popup__login" id="popup-login">
            <h2 class="popup__title">Вхід</h2>
            <div class="popup__content"><span class="popup__subtitle">Авторизовані користувачі можуть завантажувати на сайт фотографії.</span>
              <form class="popup__form" id="validate-login">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div>
                    <input class="popup__input" type="password" placeholder="Ваш пароль" name="pass">
                  </div>
                </div><a class="btn popup__btn js-login-submit" href="#"><span>увійти</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__links"><a class="popup__links-item js-restore-pass" href="#">Відновити пароль</a><a class="popup__links-item js-register" href="#">Зареєструватися</a></div>
                <div class="popup__soc"><span class="popup__soc-title">Або увiйти за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div>
          <div class="popup__item popup__restore" id="popup-restore">
            <h2 class="popup__title">Відновити пароль</h2>
            <div class="popup__content"><span class="popup__subtitle">На вашу пошту будуть відправлені інструкції по відновленню паролю.</span>
              <form class="popup__form" id="validate-restore">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                </div><a class="btn popup__btn js-restore-submit" href="#"><span>надіслати</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
              </form>
            </div>
          </div>
          <div class="popup__item popup__register" id="popup-register">
            <h2 class="popup__title">Реєстрація</h2>
            <div class="popup__content">
              <form class="popup__form" id="validate-register">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="text" placeholder="Ваше ім'я" name="firstname">
                  </div>
                  <div>
                    <input class="popup__input" type="text" placeholder="Прізвище" name="lastname">
                  </div>
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div class="popup__recaptcha">recaptcha</div>
                </div><a class="btn popup__btn js-register-submit" href="#"><span>зареєструватися</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__soc"><span class="popup__soc-title">Або зареєструватись за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div><span class="popup__close js-close-popup">
            <svg class="icon icon-close ">
              <use xlink:href="img/svgsprite/sprite.svg#close"></use>
            </svg></span>
        </div>
      </div>
    </div>
  </div><!-- inject:js -->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/lib/autosize.min.js"></script>
<script src="js/vendor/lib/dotdotdot.js"></script>
<script src="js/vendor/lib/jquery-ui.min.js"></script>
<script src="js/vendor/lib/jquery.fancybox.min.js"></script>
<script src="js/vendor/lib/jquery.formstyler.min.js"></script>
<script src="js/vendor/lib/jquery.mask.js"></script>
<script src="js/vendor/lib/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/jquery.validate.min.js"></script>
<script src="js/vendor/lib/messages_uk.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<script src="js/vendor/lib/slick.min.js"></script>
<!-- endinject -->

  <script src="js/common.js"></script>
</html>

src/chunks/detail.pug
.detail
    .container
        .detail__wrapper
            h2.detail__title Історія Українських Мазур - Назва Фото
            .detail__head
                .detail__head-photo
                    //сюда ложим большое фото
                    a(data-fancybox="gallery" href="./img/detail-photo.png").detail__head-item
                        //сюда ложим маленькое фото
                        img(src="./img/detail-photo.png" alt="")
                        i.detail__zoom
                            +icon("ico-search")
                .detail__head-history
                    .detail__history-wrapper
                        .detail__control
                            a(href="#").detail__control-prev
                                i
                                    +icon("slider-prev")
                                span Попереднє<br>Фото

                            a(href="#").detail__control-next
                                span Наступне<br>Фото
                                i
                                    +icon("slider-next")
                        p.detail__subtitle Сатанів – селище міського типу на Хмельниччині. Тут буде дуже короткий опис.
                        .detail__info
                            span <b>Дата:</b>
                                span 1967 р.
                            span <b>Джерело:</b>
                                span Архiв
                            span <b>Мiсце:</b>
                                span Хмельницький
                            span <b>Автор:</b>
                                a(href="#") Мельник Петро
                    .detail__share
                        a(href="#").detail__share-item.detail__share-item--fb
                            i
                                +icon("ico-fb")
                            span Share
                        a(href="#").detail__share-item.detail__share-item--inst
                            i
                                +icon("ico-inst")
                            span Post
            h2.detail__description-title Опис
            .detail__bottom
                .detail__description
                    h2.detail__description-title.mobile Опис
                    .detail__description-text
                        p Часто люди недооцінюють красу, котру може запропонувати Україна тим, хто насмілиться нею подорожувати. Не лише закордонна Європа володіє цікавими, привабливими містами та селами. Варто лише поглянути на будь яку частину України і ви обов'язково знайдете щось чарівне. Не виключенням є й Хмельниччина, до котрої ми сьогодні й звернемось у пошуках привабливих, мальовничих місцин.
                        p Перша згадка про містечко <b>Сатанів</b> з’явилась ще у 1404 року. Окрім колоритної назви місто має також дуже навіть вражаючу архітектурну спадщину. Вежа Одровонжа – найстаріша споруда, що збереглася у <b>Сатанові</b>. Не далеко є старовинна кам’яна синагога.
                        p <b>Тарноруда – настільки маленьке селище, що здивуватись не важко. Тут проживає менше тисячі людей і, особисто мене, такі місцини завжди заманювали…</b>
                        p Головною окрасою містечка є Тарнорудський Костел, збудований в XVI столітті. Костел нищився кілька разів, в тому числі й в «радянський» період. В 90-х роках він активно відновлювався. Одною із головних цікавинок костелу був герб засновників храму, на сьогодні він зберігся погано, але все ще на місці. Також костел прикрашають оригінальні дубові двері.
                    .detail__comments
                        h3.detail__comments-title
                            span(id="detail__comments-count") 3
                            span Коментарi
                        .comments
                            .comments__item
                                .comments__img
                                    img(src="./img/comment-photo-1.png" alt="")
                                .comments__info
                                    .comments__name
                                        span Yana Rozenblit
                                    .comments__text
                                        span Кому бесплатно котика, Хмельницький! <br>Смотрите на этих няшных жопсиков, а лучше берите себе
                            .comments__item
                                .comments__img
                                    img(src="./img/comment-photo-3.png" alt="")
                                .comments__info
                                    .comments__name
                                        span Nastia Kondratyuk
                                    .comments__text
                                        span Pure Perfection <br>#rogerwaters #usandthem
                            .comments__item
                                .comments__img
                                    img(src="./img/comment-photo-2.png" alt="")
                                .comments__info
                                    .comments__name
                                        span Vadym Bondar
                                    .comments__text
                                        span це був прекрасний час/it was a great time! <br>дякую усім причетним! special thanks to Cisco & The Racecars
                        form.detail__com-form#validate-detail-comment
                            .detail__com-textarea-wrapper
                                textarea(placeholder="Ваш коментар" name="comment").detail__com-textarea
                            a(href="#").btn.detail__com-btn.js-detail-add-com
                                span коментувати
                                +icon("btn-bg")
                            a(href="#").btn.detail__com-btn.js-popup
                                span попап
                                +icon("btn-bg")
                .detail__tags
                    .tags.js-tags
                        span(data-tag="tag1").tags__item.active #конюх
                        span(data-tag="tag2").tags__item #коневодство
                        span(data-tag="tag3").tags__item #лошадь
                        span(data-tag="tag4").tags__item #высокие_сапоги
                        span(data-tag="tag5").tags__item #зипун
                        span(data-tag="tag11").tags__item #присторождественский_собор_в_Липецке
                        span(data-tag="tag12").tags__item #городские_здания
                        span(data-tag="tag13").tags__item #поводья
                        span(data-tag="tag14").tags__item #деревянные_дома
                        span(data-tag="tag15").tags__item #городской_пейзаж
