src/chunks/noname.pug
.noname
    h1 До запуску сайту залишилось
    .noname__img
        img(src="./img/noname.png" alt="")
        .noname__block.left
            p#days 99
            span днів
        .noname__block.right
            p#hours 23
            span годин
        i.lake
            +icon("lake-same")
        i.wall
            +icon("wall")

dist/noname.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <div class="page-body" id="page-body">
      <div class="noname">
        <h1>До запуску сайту залишилось</h1>
        <div class="noname__img"><img src="./img/noname.png" alt="">
          <div class="noname__block left">
            <p id="days">99</p><span>днів</span>
          </div>
          <div class="noname__block right">
            <p id="hours">23</p><span>годин</span>
          </div><i class="lake">
            <svg class="icon icon-lake-same ">
              <use xlink:href="img/svgsprite/sprite.svg#lake-same"></use>
            </svg></i><i class="wall">
            <svg class="icon icon-wall ">
              <use xlink:href="img/svgsprite/sprite.svg#wall"></use>
            </svg></i>
        </div>
      </div>
    </div>
  </div><!-- inject:js -->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/lib/autosize.min.js"></script>
<script src="js/vendor/lib/dotdotdot.js"></script>
<script src="js/vendor/lib/jquery-ui.min.js"></script>
<script src="js/vendor/lib/jquery.fancybox.min.js"></script>
<script src="js/vendor/lib/jquery.formstyler.min.js"></script>
<script src="js/vendor/lib/jquery.mask.js"></script>
<script src="js/vendor/lib/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/jquery.validate.min.js"></script>
<script src="js/vendor/lib/messages_uk.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<script src="js/vendor/lib/slick.min.js"></script>
<!-- endinject -->

  <script src="js/common.js"></script>
</html>
