src/chunks/search.pug
.search
    .container
        .search__wrapper
            h2.search__title Результати пошуку
            .search__result
                form.search__result-form#search-form-result
                    input(type="search").search__input-search
                    input(type="submit").search__input-submit
                    i.js-research
                        +icon("ico-search")
                .search__result-field
                    span.search__result-item Родина
                        i.js-remove-result
                            +icon("close-cirlce")
            .search__photo
                h3.search__photo-title Фото (37)
                .popular-categories__content
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-1.png" alt="")
                        .popular-categories__content-text
                            span Історія Українських <br>Мазур Фото 1
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Історія Українських <br>Мазур Фото 1
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-2.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-3.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-4.png" alt="")
                        .popular-categories__content-text
                            span Dom Ludowy
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Dom Ludowy
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-5.png" alt="")
                        .popular-categories__content-text
                            span Гарна природа
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Гарна природа
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-6.png" alt="")
                        .popular-categories__content-text
                            span Гарна природа
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Гарна природа
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-7.png" alt="")
                        .popular-categories__content-text
                            span Правдива iсторiя <br>одноi родини
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Правдива iсторiя <br>одноi родини
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-8.png" alt="")
                        .popular-categories__content-text
                            span Родина мазурів. <br>Світлина ХХ століття
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Родина мазурів. <br>Світлина ХХ століття
                .popular-categories__content.mobile
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-1.png" alt="")
                        .popular-categories__content-text
                            span Історія Українських <br>Мазур Фото 1
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Історія Українських <br>Мазур Фото 1
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-2.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-3.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-4.png" alt="")
                        .popular-categories__content-text
                            span Dom Ludowy
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Dom Ludowy
                .search__photo-btn
                    a(href="#").btn
                        span показати ще
                        +icon("btn-bg")
            .search__story
                h3.search__story-title Iсторії (5)
                .stories__content
                    a(href="#").stories__item
                        .stories__img
                            img(src="" alt="")
                        .stories__info
                            h3.stories__item-title МОН перевірить, на що пішли гроші, виділені на кабінети української мови для шкіл нацменшин
                            p.stories__text Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання.
                    a(href="#").stories__item.stories__item--img
                        .stories__img
                            img(src="./img/stories/img-stories-1.png" alt="")
                        .stories__info
                            h3.stories__item-title В ОБСЄ заявили, що український закон про державну мову не повністю гарантує захист мовних прав національних меншин
                            p.stories__text Верховний комісар ОБСЄ з питань нацменшин Ламберто Заньєр заявив в ООН, що <b>Україна має право зміцнювати роль державної мови, якщо це не шкодить правам національних меншин</b>.
            .search__source
                h3.search__source-title Джерела (2)
                .search__source-content
                    a(href="#") Єланецький районний історичний музей
                    a(href="#") Єлизаветівський історико-краєзнавчий музей

dist/search.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <!--add to .header class .authorized for authorized users-->
    <header class="header authorized" id="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__wrapper-left">
            <div class="header__menu" id="nav-icon"><span></span><span></span><span></span><span></span><span></span><span></span></div><a class="header__logo" href="/">
              <svg class="icon icon-logo ">
                <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
              </svg></a><a class="header__logo-mobile" href="/">Історія Українських Мазур</a>
            <div class="header__content">
              <nav class="menu">
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Історія Мазур</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="catalog.html">Фото</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Документи</a></div>
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Родинні історії</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="#">Про проект</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Джерела</a></div>
                <div class="header__info-mobile">
                  <div class="header__info-mobile-container">
                    <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
                    <div class="header__authorized">
                      <div class="userpic js-user">
                        <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                        <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                        <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
                      </div>
                    </div>
                    <div class="mobile-lng" data-lng="UA">
                      <div class="mobile-lng__item js-mobile-lng active"><span>UA</span></div>
                      <div class="mobile-lng__item js-mobile-lng"><span>PL</span></div>
                    </div>
                  </div>
                </div>
              </nav>
              <div class="header__content-bottom">
                <form class="header__search" id="search">
                  <input class="header__search-input" type="search" name="search" id="header-search" placeholder="Пошук фото"><i class="header__search-submit js-search">
                    <svg class="icon icon-ico-search ">
                      <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                    </svg></i><i class="header__search-close js-search-close">
                    <svg class="icon icon-close-small ">
                      <use xlink:href="img/svgsprite/sprite.svg#close-small"></use>
                    </svg></i>
                </form><i class="header__search-submit header__search-submit--mobile js-search-mobile">
                  <svg class="icon icon-ico-search ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                  </svg></i>
                <div class="header__lang"><a class="header__lang-link" href="#"><span id="site-lang">ua</span></a>
                  <ul class="header__lang-list">
                    <li><a href="#">pl</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="header__wrapper-right">
            <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
            <div class="header__authorized">
              <div class="userpic js-user">
                <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="popup-window">
        <h2>Дякуємо<br> за Ваше повідомлення!</h2><span>Ваше повідомлення буде опубліковано після перевірки модератором.</span><a class="btn" href="#"><span>OK</span>
          <svg class="icon icon-btn-bg ">
            <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
          </svg></a><i class="js-popup-close">
          <svg class="icon icon-close ">
            <use xlink:href="img/svgsprite/sprite.svg#close"></use>
          </svg></i>
      </div>
    </header>
    <div class="breadcrums__wrapper">
      <div class="container">
        <div class="breadcrums"><a class="breadcrums__item" href="/">Головна</a><a class="breadcrums__item" href="#">Назва сторінки</a></div>
      </div>
    </div>
    <div class="page-body" id="page-body">
      <div class="search">
        <div class="container">
          <div class="search__wrapper">
            <h2 class="search__title">Результати пошуку</h2>
            <div class="search__result">
              <form class="search__result-form" id="search-form-result">
                <input class="search__input-search" type="search">
                <input class="search__input-submit" type="submit"><i class="js-research">
                  <svg class="icon icon-ico-search ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                  </svg></i>
              </form>
              <div class="search__result-field"><span class="search__result-item">Родина<i class="js-remove-result">
                    <svg class="icon icon-close-cirlce ">
                      <use xlink:href="img/svgsprite/sprite.svg#close-cirlce"></use>
                    </svg></i></span></div>
            </div>
            <div class="search__photo">
              <h3 class="search__photo-title">Фото (37)</h3>
              <div class="popular-categories__content"><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-1.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Історія Українських <br>Мазур Фото 1</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Історія Українських <br>Мазур Фото 1</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-2.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Слідами українських Мазур</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Слідами українських Мазур</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-3.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Слідами українських Мазур</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Слідами українських Мазур</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-4.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Dom Ludowy</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Dom Ludowy</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-5.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Гарна природа</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Гарна природа</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-6.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Гарна природа</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Гарна природа</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-7.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Правдива iсторiя <br>одноi родини</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Правдива iсторiя <br>одноi родини</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-8.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Родина мазурів. <br>Світлина ХХ століття</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Родина мазурів. <br>Світлина ХХ століття</span></div></a></div>
              <div class="popular-categories__content mobile"><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-1.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Історія Українських <br>Мазур Фото 1</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Історія Українських <br>Мазур Фото 1</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-2.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Слідами українських Мазур</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Слідами українських Мазур</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-3.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Слідами українських Мазур</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Слідами українських Мазур</span></div></a><a class="popular-categories__content-item" href="#">
                  <div class="popular-categories__content-img"><img src="./img/popular/pop-photo-4.png" alt=""></div>
                  <div class="popular-categories__content-text"><span>Dom Ludowy</span></div>
                  <div class="popular-categories__content-text popular-categories__content-text--hover"><span>Dom Ludowy</span></div></a></div>
              <div class="search__photo-btn"><a class="btn" href="#"><span>показати ще</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a></div>
            </div>
            <div class="search__story">
              <h3 class="search__story-title">Iсторії (5)</h3>
              <div class="stories__content"><a class="stories__item" href="#">
                  <div class="stories__img"><img src="" alt=""></div>
                  <div class="stories__info">
                    <h3 class="stories__item-title">МОН перевірить, на що пішли гроші, виділені на кабінети української мови для шкіл нацменшин</h3>
                    <p class="stories__text">Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання.</p>
                  </div></a><a class="stories__item stories__item--img" href="#">
                  <div class="stories__img"><img src="./img/stories/img-stories-1.png" alt=""></div>
                  <div class="stories__info">
                    <h3 class="stories__item-title">В ОБСЄ заявили, що український закон про державну мову не повністю гарантує захист мовних прав національних меншин</h3>
                    <p class="stories__text">Верховний комісар ОБСЄ з питань нацменшин Ламберто Заньєр заявив в ООН, що <b>Україна має право зміцнювати роль державної мови, якщо це не шкодить правам національних меншин</b>.</p>
                  </div></a></div>
            </div>
            <div class="search__source">
              <h3 class="search__source-title">Джерела (2)</h3>
              <div class="search__source-content"><a href="#">Єланецький районний історичний музей</a><a href="#">Єлизаветівський історико-краєзнавчий музей</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="wrapper footer" id="footer">
      <div class="container">
        <div class="footer__wrapper"><a class="footer__logo" href="/"><span>Історія Українських Мазур</span>
            <svg class="icon icon-logo ">
              <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
            </svg></a>
          <div class="footer__center">
            <div class="footer__menu">
              <div class="footer__submenu"><a href="#">Фото</a><a href="#">Документи</a><a href="#">Загальна історія</a></div>
              <div class="footer__submenu"><a href="#">Родинні історії</a><a href="#">Про проект</a><a href="#">Джерела</a></div>
            </div>
            <div class="footer__sponsors"><a class="footer__sponsors-item footer__sponsors-item--ukrdim" href="#">
                <svg class="icon icon-ukr-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ukr-logo"></use>
                </svg></a><a class="footer__sponsors-item footer__sponsors-item--ploskiriv" href="#">
                <svg class="icon icon-ploskiriv-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ploskiriv-logo"></use>
                </svg></a></div>
          </div>
          <div class="footer__soc"><span class="footer__soc-title">Ми в мережах:</span>
            <div class="footer__soc-wrapper"><a class="footer__soc-item footer__soc-item--fb" href="#">
                <svg class="icon icon-ico-fb ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-fb"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--inst" href="#">
                <svg class="icon icon-ico-inst ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-inst"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--yt" href="#">
                <svg class="icon icon-ico-yt ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-yt"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup">
      <div class="container">
        <div class="popup__wrapper">
          <div class="popup__item popup__login" id="popup-login">
            <h2 class="popup__title">Вхід</h2>
            <div class="popup__content"><span class="popup__subtitle">Авторизовані користувачі можуть завантажувати на сайт фотографії.</span>
              <form class="popup__form" id="validate-login">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div>
                    <input class="popup__input" type="password" placeholder="Ваш пароль" name="pass">
                  </div>
                </div><a class="btn popup__btn js-login-submit" href="#"><span>увійти</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__links"><a class="popup__links-item js-restore-pass" href="#">Відновити пароль</a><a class="popup__links-item js-register" href="#">Зареєструватися</a></div>
                <div class="popup__soc"><span class="popup__soc-title">Або увiйти за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div>
          <div class="popup__item popup__restore" id="popup-restore">
            <h2 class="popup__title">Відновити пароль</h2>
            <div class="popup__content"><span class="popup__subtitle">На вашу пошту будуть відправлені інструкції по відновленню паролю.</span>
              <form class="popup__form" id="validate-restore">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                </div><a class="btn popup__btn js-restore-submit" href="#"><span>надіслати</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
              </form>
            </div>
          </div>
          <div class="popup__item popup__register" id="popup-register">
            <h2 class="popup__title">Реєстрація</h2>
            <div class="popup__content">
              <form class="popup__form" id="validate-register">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="text" placeholder="Ваше ім'я" name="firstname">
                  </div>
                  <div>
                    <input class="popup__input" type="text" placeholder="Прізвище" name="lastname">
                  </div>
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div class="popup__recaptcha">recaptcha</div>
                </div><a class="btn popup__btn js-register-submit" href="#"><span>зареєструватися</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__soc"><span class="popup__soc-title">Або зареєструватись за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div><span class="popup__close js-close-popup">
            <svg class="icon icon-close ">
              <use xlink:href="img/svgsprite/sprite.svg#close"></use>
            </svg></span>
        </div>
      </div>
    </div>
  </div><!-- inject:js -->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/lib/autosize.min.js"></script>
<script src="js/vendor/lib/dotdotdot.js"></script>
<script src="js/vendor/lib/jquery-ui.min.js"></script>
<script src="js/vendor/lib/jquery.fancybox.min.js"></script>
<script src="js/vendor/lib/jquery.formstyler.min.js"></script>
<script src="js/vendor/lib/jquery.mask.js"></script>
<script src="js/vendor/lib/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/jquery.validate.min.js"></script>
<script src="js/vendor/lib/messages_uk.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<script src="js/vendor/lib/slick.min.js"></script>
<!-- endinject -->

  <script src="js/common.js"></script>
</html>
