dist/stories.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <!--add to .header class .authorized for authorized users-->
    <header class="header authorized" id="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__wrapper-left">
            <div class="header__menu" id="nav-icon"><span></span><span></span><span></span><span></span><span></span><span></span></div><a class="header__logo" href="/">
              <svg class="icon icon-logo ">
                <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
              </svg></a><a class="header__logo-mobile" href="/">Історія Українських Мазур</a>
            <div class="header__content">
              <nav class="menu">
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Історія Мазур</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="catalog.html">Фото</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Документи</a></div>
                <div class="menu__item menu__submenu"><a class="menu__link" href="#">Родинні історії</a>
                  <ul class="menu__sublist">
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                    <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                  </ul>
                </div>
                <div class="menu__item"><a class="menu__link" href="#">Про проект</a></div>
                <div class="menu__item"><a class="menu__link" href="#">Джерела</a></div>
                <div class="header__info-mobile">
                  <div class="header__info-mobile-container">
                    <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
                    <div class="header__authorized">
                      <div class="userpic js-user">
                        <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                        <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                        <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
                      </div>
                    </div>
                    <div class="mobile-lng" data-lng="UA">
                      <div class="mobile-lng__item js-mobile-lng active"><span>UA</span></div>
                      <div class="mobile-lng__item js-mobile-lng"><span>PL</span></div>
                    </div>
                  </div>
                </div>
              </nav>
              <div class="header__content-bottom">
                <form class="header__search" id="search">
                  <input class="header__search-input" type="search" name="search" id="header-search" placeholder="Пошук фото"><i class="header__search-submit js-search">
                    <svg class="icon icon-ico-search ">
                      <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                    </svg></i><i class="header__search-close js-search-close">
                    <svg class="icon icon-close-small ">
                      <use xlink:href="img/svgsprite/sprite.svg#close-small"></use>
                    </svg></i>
                </form><i class="header__search-submit header__search-submit--mobile js-search-mobile">
                  <svg class="icon icon-ico-search ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                  </svg></i>
                <div class="header__lang"><a class="header__lang-link" href="#"><span id="site-lang">ua</span></a>
                  <ul class="header__lang-list">
                    <li><a href="#">pl</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="header__wrapper-right">
            <div class="header__login"><a class="login-btn js-popup" href="#" data-popup="popup-login">вхід</a></div>
            <div class="header__authorized">
              <div class="userpic js-user">
                <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                <div class="userpic__info"><span class="userpic__text first-name">Yevgeny</span><span class="userpic__text last-name">Oleksyuk</span></div>
                <div class="userpic__menu"><a class="userpic__menu-item" href="#">Особисті дані</a><a class="userpic__menu-item" href="#">Мої фото</a><a class="userpic__menu-item" href="#">Мої документи</a><a class="userpic__menu-item" href="#">Мої історії</a><a class="userpic__menu-item js-logout" href="#">Вийти</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="popup-window">
        <h2>Дякуємо<br> за Ваше повідомлення!</h2><span>Ваше повідомлення буде опубліковано після перевірки модератором.</span><a class="btn" href="#"><span>OK</span>
          <svg class="icon icon-btn-bg ">
            <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
          </svg></a><i class="js-popup-close">
          <svg class="icon icon-close ">
            <use xlink:href="img/svgsprite/sprite.svg#close"></use>
          </svg></i>
      </div>
    </header>
    <div class="breadcrums__wrapper">
      <div class="container">
        <div class="breadcrums"><a class="breadcrums__item" href="/">Головна</a><a class="breadcrums__item" href="#">Назва сторінки</a></div>
      </div>
    </div>
    <div class="page-body" id="page-body">
      <div class="stories">
        <div class="container">
          <div class="stories__wrapper">
            <h1 class="stories__title">Iсторії</h1>
            <div class="page-sort js-sort"><span>Сортувати по:</span><a class="page-sort__btn active" href="#">Даті додавання</a><a class="page-sort__btn" href="#">Року народження</a></div>
            <div class="stories__content"><a class="stories__item" href="#">
                <div class="stories__img"><img src="" alt=""></div>
                <div class="stories__info">
                  <h3 class="stories__item-title">МОН перевірить, на що пішли гроші, виділені на кабінети української мови для шкіл нацменшин</h3>
                  <p class="stories__text">Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання. Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання.</p>
                </div></a><a class="stories__item stories__item--img" href="#">
                <div class="stories__img"><img src="./img/stories/img-stories-1.png" alt=""></div>
                <div class="stories__info">
                  <h3 class="stories__item-title">В ОБСЄ заявили, що український закон про державну мову не повністю гарантує захист мовних прав національних меншин</h3>
                  <p class="stories__text">Верховний комісар ОБСЄ з питань нацменшин Ламберто Заньєр заявив в ООН, що <b>Україна має право зміцнювати роль державної мови, якщо це не шкодить правам національних меншин</b>.</p>
                </div></a><a class="stories__item stories__item--img" href="#">
                <div class="stories__img"><img src="./img/stories/img-stories-2.png" alt=""></div>
                <div class="stories__info">
                  <h3 class="stories__item-title">Кириленко заявив, що Кабмін готовий протягом півроку внести в Раду законопроект "Про захист мов корінних народів і нацменшин"</h3>
                  <p class="stories__text">Кабінет Міністрів готовий до виконання всіх норм, що передбачають участь уряду в реалізації та бюджетній підтримці закону про українську мову, заявив віце-прем'єр-міністр України <b>В'ячеслав Кириленко</b>. Кабінет Міністрів готовий до виконання всіх норм, що передбачають участь уряду в реалізації та бюджетній підтримці закону про українську мову, заявив віце-прем'єр-міністр України <b>В'ячеслав Кириленко</b>.</p>
                </div></a><a class="stories__item" href="#">
                <div class="stories__img"><img src="" alt=""></div>
                <div class="stories__info">
                  <h3 class="stories__item-title">Сіярто заявив, що Угорщина буде блокувати проведення засідань комісії Україна – НАТО</h3>
                  <p class="stories__text">Міністр закордонних справ Угорщини Петер Сіярто заявив, що угорська влада буде блокувати проведення засідань комісії Україна – НАТО доти, <b>"доки Україна не припинить систематичних порушень прав угорської громади"</b></p>
                </div></a><a class="stories__item stories__item--img" href="#">
                <div class="stories__img"><img src="./img/stories/img-stories-3.png" alt=""></div>
                <div class="stories__info">
                  <h3 class="stories__item-title">На Закарпатті після появи антиугорських плакатів відкрили кримінальне провадження про розпалювання національної ворожнечі</h3>
                  <p class="stories__text">Плакати із зображеннями представників угорської меншини прокуратура Закарпатської області назвала провокаційними.</p>
                </div></a></div>
            <div class="stories__pagination">
              <div class="pagination" data-pagination="1"><a class="pagination__item active" href="#">1</a><a class="pagination__item" href="#">2</a><a class="pagination__item" href="#">3</a><a class="pagination__item" href="#">4</a><a class="pagination__item interval" href="#">...</a><a class="pagination__item" href="#">350</a></div>
            </div>
            <div class="stories__btn"><a class="btn" href="#"><span>показати ще</span>
                <svg class="icon icon-btn-bg ">
                  <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
    </div>
    <footer class="wrapper footer" id="footer">
      <div class="container">
        <div class="footer__wrapper"><a class="footer__logo" href="/"><span>Історія Українських Мазур</span>
            <svg class="icon icon-logo ">
              <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
            </svg></a>
          <div class="footer__center">
            <div class="footer__menu">
              <div class="footer__submenu"><a href="#">Фото</a><a href="#">Документи</a><a href="#">Загальна історія</a></div>
              <div class="footer__submenu"><a href="#">Родинні історії</a><a href="#">Про проект</a><a href="#">Джерела</a></div>
            </div>
            <div class="footer__sponsors"><a class="footer__sponsors-item footer__sponsors-item--ukrdim" href="#">
                <svg class="icon icon-ukr-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ukr-logo"></use>
                </svg></a><a class="footer__sponsors-item footer__sponsors-item--ploskiriv" href="#">
                <svg class="icon icon-ploskiriv-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#ploskiriv-logo"></use>
                </svg></a></div>
          </div>
          <div class="footer__soc"><span class="footer__soc-title">Ми в мережах:</span>
            <div class="footer__soc-wrapper"><a class="footer__soc-item footer__soc-item--fb" href="#">
                <svg class="icon icon-ico-fb ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-fb"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--inst" href="#">
                <svg class="icon icon-ico-inst ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-inst"></use>
                </svg></a><a class="footer__soc-item footer__soc-item--yt" href="#">
                <svg class="icon icon-ico-yt ">
                  <use xlink:href="img/svgsprite/sprite.svg#ico-yt"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup">
      <div class="container">
        <div class="popup__wrapper">
          <div class="popup__item popup__login" id="popup-login">
            <h2 class="popup__title">Вхід</h2>
            <div class="popup__content"><span class="popup__subtitle">Авторизовані користувачі можуть завантажувати на сайт фотографії.</span>
              <form class="popup__form" id="validate-login">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div>
                    <input class="popup__input" type="password" placeholder="Ваш пароль" name="pass">
                  </div>
                </div><a class="btn popup__btn js-login-submit" href="#"><span>увійти</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__links"><a class="popup__links-item js-restore-pass" href="#">Відновити пароль</a><a class="popup__links-item js-register" href="#">Зареєструватися</a></div>
                <div class="popup__soc"><span class="popup__soc-title">Або увiйти за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div>
          <div class="popup__item popup__restore" id="popup-restore">
            <h2 class="popup__title">Відновити пароль</h2>
            <div class="popup__content"><span class="popup__subtitle">На вашу пошту будуть відправлені інструкції по відновленню паролю.</span>
              <form class="popup__form" id="validate-restore">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                </div><a class="btn popup__btn js-restore-submit" href="#"><span>надіслати</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
              </form>
            </div>
          </div>
          <div class="popup__item popup__register" id="popup-register">
            <h2 class="popup__title">Реєстрація</h2>
            <div class="popup__content">
              <form class="popup__form" id="validate-register">
                <div class="popup__input-wrapper">
                  <div>
                    <input class="popup__input" type="text" placeholder="Ваше ім'я" name="firstname">
                  </div>
                  <div>
                    <input class="popup__input" type="text" placeholder="Прізвище" name="lastname">
                  </div>
                  <div>
                    <input class="popup__input" type="email" placeholder="Електронна пошта" name="mail">
                  </div>
                  <div class="popup__recaptcha">recaptcha</div>
                </div><a class="btn popup__btn js-register-submit" href="#"><span>зареєструватися</span>
                  <svg class="icon icon-btn-bg ">
                    <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                  </svg></a>
                <div class="popup__soc"><span class="popup__soc-title">Або зареєструватись за допомогою:</span>
                  <div class="popup__soc-wrapper"><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-facebook ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-facebook"></use>
                      </svg></a><a class="popup__soc-item" href="#">
                      <svg class="icon icon-ico-login-google ">
                        <use xlink:href="img/svgsprite/sprite.svg#ico-login-google"></use>
                      </svg></a></div>
                </div>
              </form>
            </div>
          </div><span class="popup__close js-close-popup">
            <svg class="icon icon-close ">
              <use xlink:href="img/svgsprite/sprite.svg#close"></use>
            </svg></span>
        </div>
      </div>
    </div>
  </div><!-- inject:js -->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/lib/autosize.min.js"></script>
<script src="js/vendor/lib/dotdotdot.js"></script>
<script src="js/vendor/lib/jquery-ui.min.js"></script>
<script src="js/vendor/lib/jquery.fancybox.min.js"></script>
<script src="js/vendor/lib/jquery.formstyler.min.js"></script>
<script src="js/vendor/lib/jquery.mask.js"></script>
<script src="js/vendor/lib/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/jquery.validate.min.js"></script>
<script src="js/vendor/lib/messages_uk.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<script src="js/vendor/lib/slick.min.js"></script>
<!-- endinject -->

  <script src="js/common.js"></script>
</html>

src/chunks/stories.pug
.stories
    .container
        .stories__wrapper
            h1.stories__title Iсторії
            .page-sort.js-sort
                span Сортувати по:
                a(href="#").page-sort__btn.active Даті додавання
                a(href="#").page-sort__btn Року народження
            .stories__content
                a(href="#").stories__item
                    .stories__img
                        img(src="" alt="")
                    .stories__info
                        h3.stories__item-title МОН перевірить, на що пішли гроші, виділені на кабінети української мови для шкіл нацменшин
                        p.stories__text Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання. Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання.
                a(href="#").stories__item.stories__item--img
                    .stories__img
                        img(src="./img/stories/img-stories-1.png" alt="")
                    .stories__info
                        h3.stories__item-title В ОБСЄ заявили, що український закон про державну мову не повністю гарантує захист мовних прав національних меншин
                        p.stories__text Верховний комісар ОБСЄ з питань нацменшин Ламберто Заньєр заявив в ООН, що <b>Україна має право зміцнювати роль державної мови, якщо це не шкодить правам національних меншин</b>.
                a(href="#").stories__item.stories__item--img
                    .stories__img
                        img(src="./img/stories/img-stories-2.png" alt="")
                    .stories__info
                        h3.stories__item-title Кириленко заявив, що Кабмін готовий протягом півроку внести в Раду законопроект "Про захист мов корінних народів і нацменшин"
                        p.stories__text Кабінет Міністрів готовий до виконання всіх норм, що передбачають участь уряду в реалізації та бюджетній підтримці закону про українську мову, заявив віце-прем'єр-міністр України <b>В'ячеслав Кириленко</b>. Кабінет Міністрів готовий до виконання всіх норм, що передбачають участь уряду в реалізації та бюджетній підтримці закону про українську мову, заявив віце-прем'єр-міністр України <b>В'ячеслав Кириленко</b>.
                a(href="#").stories__item
                    .stories__img
                        img(src="" alt="")
                    .stories__info
                        h3.stories__item-title Сіярто заявив, що Угорщина буде блокувати проведення засідань комісії Україна – НАТО
                        p.stories__text Міністр закордонних справ Угорщини Петер Сіярто заявив, що угорська влада буде блокувати проведення засідань комісії Україна – НАТО доти, <b>"доки Україна не припинить систематичних порушень прав угорської громади"</b>
                a(href="#").stories__item.stories__item--img
                    .stories__img
                        img(src="./img/stories/img-stories-3.png" alt="")
                    .stories__info
                        h3.stories__item-title На Закарпатті після появи антиугорських плакатів відкрили кримінальне провадження про розпалювання національної ворожнечі
                        p.stories__text Плакати із зображеннями представників угорської меншини прокуратура Закарпатської області назвала провокаційними.
            .stories__pagination
                .pagination(data-pagination="1")
                    a(href="#").pagination__item.active 1
                    a(href="#").pagination__item 2
                    a(href="#").pagination__item 3
                    a(href="#").pagination__item 4
                    a(href="#").pagination__item.interval ...
                    a(href="#").pagination__item 350
            .stories__btn
                a(href="#").btn
                    span показати ще
                    +icon("btn-bg")
