src/chunks/uikit.pug
.uikit
    .uikit__header
        .container
            .uikit__header-wrapper
                h1.uikit__title Заплутаними стежками історії українських Мазур
                span.uikit__subtitle Мить, що залишиться в пам’яті…
                .uikit__header-logos
                    .uikit__logos-item.uikit__logos-item--ukrdim
                        .uikit__logos-text
                            span За підтримки:
                        .uikit__logos-img
                            +icon("ukr-logo")
                    .uikit__logos-item.uikit__logos-item--ploskiriv
                        .uikit__logos-text
                            span Реалізація проекту:
                        .uikit__logos-img
                            +icon("ploskiriv-logo")
    .uikit__item.uikit__menublock
        .container
            .uikit__heading-title main menu
        .header
            .container
                .header__wrapper
                    a.header__logo(href="/")
                        +icon("logo")
                    .header__content
                        nav.menu
                            .menu__item.menu__submenu
                                a(href="#").menu__link Історія Мазур
                                ul.menu__sublist
                                    li
                                        a.menu__sublist-link(href="#") Iсторії Мазур з Гречан
                                    li
                                        a.menu__sublist-link(href="#") Iсторії Мазур з Плоскірова
                                    li
                                        a.menu__sublist-link(href="#") Iсторії Мазур з Мацьківець
                                    li
                                        a.menu__sublist-link(href="#") Iсторії Мазур з Шаровечки
                            .menu__item
                                a(href="#").menu__link Фото
                            .menu__item
                                a(href="#").menu__link Документи
                            .menu__item.menu__submenu
                                a(href="#").menu__link Родинні історії
                                ul.menu__sublist
                                    li
                                        a(href="#").menu__sublist-link Iсторії Мазур з Гречан
                                    li
                                        a(href="#").menu__sublist-link Iсторії Мазур з Плоскірова
                                    li
                                        a(href="#").menu__sublist-link Iсторії Мазур з Мацьківець
                                    li
                                        a(href="#").menu__sublist-link Iсторії Мазур з Шаровечки
                            .menu__item
                                a(href="#").menu__link Про проект
                            .menu__item
                                a(href="#").menu__link Джерела
                        .header__content-bottom
                            form.header__search
                                input.header__search-input(type="search" name="header-search" id="header-search" placeholder="Пошук фото")
                                i.header__search-submit
                                    +icon("ico-search")
                            .header__lang
                                a(href="#").header__lang-link
                                    span#site-lang ua
                                ul.header__lang-list
                                    li
                                        a(href="#") ru
                                    li
                                        a(href="#") pl
                    .header__login
                        a(href="#").login-btn вхід
    .uikit__item.uikit__colors
        .container
            .uikit__heading-title цвета
            .uikit__colors-wrapper
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--lightgreen
                    span.uikit__colors-text #5ff5cf
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--green
                    span.uikit__colors-text #50ccad
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--darkgreen
                    span.uikit__colors-text #3c9982
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--orange
                    span.uikit__colors-text #f66c19
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--white
                    span.uikit__colors-text #ffffff
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--lightgray
                    span.uikit__colors-text #f8f8f8
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--gray
                    span.uikit__colors-text #ebebeb
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--darkgray
                    span.uikit__colors-text #393a3e
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--lightblack
                    span.uikit__colors-text #262626
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--black
                    span.uikit__colors-text #000000
    .uikit__item.uikit__btns
        .container
            .uikit__heading-title кнопки
            .uikit__btns-wrapper
                .uikit__btns-item
                    .uikit__btns-content
                        .uikit__btns-info
                            span Обычное состояние
                            span #5ff5cf
                        a(href="#").btn
                            span детально
                            +icon("btn-bg")
                    .uikit__btns-content
                        .uikit__btns-info
                            span Момент нажатия
                            span #3c9982
                        a(href="#").btn.active
                            span детально
                            +icon("btn-bg")
                .uikit__btns-item
                    .uikit__btns-content
                        .uikit__btns-info
                            span Наведение
                            span #50ccad
                        a(href="#").btn.hover
                            span детально
                            +icon("btn-bg")
                    .uikit__btns-content
                        .uikit__btns-info
                            span Кнопка не активна
                            span #3c9982
                        a(href="#").btn.unactive
                            span детально
                            +icon("btn-bg")
                .uikit__btns-item.uikit__btns-item--login
                    .uikit__btns-content
                        .uikit__btns-info
                            span Обычное состояние
                        a(href="#").login-btn вхід
                    .uikit__btns-content
                        .uikit__btns-info
                            span Наведение
                            span #ffffff
                        a(href="#").login-btn.hover вхід
    .uikit__item.uikit__tabs
        .container
            .uikit__heading-title tabs
            .tab
                .tab__wrapper.js-tab
                    .tab__item.active
                        span назва
                    .tab__item
                        span назва
                    .tab__item
                        span назва
                .tab__content
                    .tab__content-item.active
                        span content 1
                    .tab__content-item
                        span content 2
                    .tab__content-item
                        span content 3
    .uikit__item.uikit__text
        .container
            .uikit__heading-title block text
            .uikit__text-wrapper
                p
                    b «Історія Українських Мазур»
                    | &nbsp;— это открытый и общедоступный фотоархив, который охватывает почти полтора века российской истории. Здесь вы найдете любительские фотографии, сделанные <br>в России в периодс 1840 по 1999 годы.
                p Проект объединяет снимки из разных источников. Это музейные собрания, фототеки организаций, газет и журналов и личные коллекции. Любой пользователь может пополнить архив, загрузив на сайт фотографии из домашних фотоальбомов.
    .uikit__item.uikit__text
        .container
            .uikit__heading-title selected text
            .uikit__text-wrapper
                p
                    b «Історія Українських Мазур»
                    | &nbsp;—&nbsp;
                    span.selected-text это открытый и общедоступный <br>фотоархив, который охватывает почти полтора века российской истории.
                    | <br>Здесь вы найдете любительские фотографии, сделанные <br>в России в периодс 1840 по 1999 годы.
    .uikit__item.uikit__userpic
        .container
            .uikit__heading-title user pic
            .uikit__userpic-wrapper
                .userpic
                    .userpic__img
                        img(src="./img/userpic.png" alt="")
                    .userpic__info
                        span.userpic__text#first-name Yevgeny
                        span.userpic__text#last-name Oleksyuk
    .uikit__item.uikit__headings
        .container
            .uikit__heading-title headings
            .uikit__headings-wrapper
                .uikit__headings-item
                    span.uikit__headings-name heading 01
                    h1 Мазур
                .uikit__headings-item
                    span.uikit__headings-name heading 02
                    h2 Про нас
                .uikit__headings-item
                    span.uikit__headings-name heading 02
                    h3 Популярні Категорії
    .uikit__item.uikit__quote
        .container
            .uikit__heading-title quote
            .uikit__quote-wrapper
                .quote
                    span Ми пропонуємо великий вибір мольбертів: як художніх, <br>так і для творчого розвитку дитини.
                    span Придбайте протягом лютого будь-який мольберт у мережі магазинів «Офіс-Центр» та отримайте знижку 10%!
    .uikit__item.uikit__form
        .container
            .uikit__heading-title form
            .uikit__form-wrapper
                input(type="text" placeholder="Ваш коментар")
    .uikit__item.uikit__radiobutton
        .container
            .uikit__heading-title radiobutton
            .uikit__radiobutton-wrapper
                .radiobutton
                    .radiobutton__wrapper
                        label(for="radio")
                            span Кур'єрська Доставка
                            input(type="radio" id="radio" name="radio")
                            i
                    .radiobutton__wrapper
                        label(for="radio2")
                            span Доставка На Вiддiлення
                            input(type="radio" id="radio2" name="radio")
                            i
    .uikit__item.uikit__comments
        .container
            .uikit__heading-title comments
            .uikit__comments-wrapper
                .comments
                    .comments__item
                        .comments__img
                            img(src="./img/comment-photo-1.png" alt="")
                        .comments__info
                            .comments__name
                                span Yana Rozenblit
                            .comments__text
                                span Кому бесплатно котика, Хмельницький! <br>Смотрите на этих няшных жопсиков, а лучше берите себе
                    .comments__item
                        .comments__img
                            img(src="./img/comment-photo-2.png" alt="")
                        .comments__info
                            .comments__name
                                span Vadym Bondar
                            .comments__text
                                span це був прекрасний час/it was a great time! <br>дякую усім причетним! special thanks to Cisco & The Racecars
    .uikit__item.uikit__checkbox
        .container
            .uikit__heading-title checkbox
            .uikit__checkbox-wrapper
                .checkbox
                    .checkbox__wrapper
                        label(for="checkbox")
                            span Checkbox
                            input(type="checkbox" id="checkbox" name="checkbox")
                            i
                    .checkbox__wrapper
                        label(for="checkbox2")
                            span Checkbox
                            input(type="checkbox" id="checkbox2" name="checkbox")
                            i
                    .checkbox__wrapper
                        label(for="checkbox3")
                            span Checkbox
                            input(type="checkbox" id="checkbox3" name="checkbox")
                            i
    .uikit__item.uikit__table
        .container
            .uikit__heading-title table
            .uikit__table-wrapper
                .table
                    table
                        tbody
                            tr
                                td
                                    span Ліцензія
                                td
                                    span Н / Д
                            tr
                                td
                                    span Стать
                                td
                                    span Жіноча
                            tr
                                td
                                    span корпус
                                td
                                    span Пiдвищена зносостійкість
                            tr
                                td
                                    span спинка
                                td
                                    span Без жосткоъ ортопедичноъ основи
                            tr
                                td
                                    span плечові лямки
                                td
                                    span Плавна амортизація
                            tr
                                td
                                    span додатково
                                td
                                    span Бокові кармани
    .uikit__item.uikit__pagination
        .container
            .uikit__heading-title pagination
            .uikit__pagination-wrapper
                .pagination(data-pagination="1")
                    a(href="#").pagination__item.active 1
                    a(href="#").pagination__item 2
                    a(href="#").pagination__item 3
                    a(href="#").pagination__item 4
                    a(href="#").pagination__item.interval ...
                    a(href="#").pagination__item 350
    .uikit__item.uikit__pagination
        .container
            .uikit__heading-title pagination hover
            .uikit__pagination-wrapper
                .pagination(data-pagination="1")
                    a(href="#").pagination__item.active 1
                    a(href="#").pagination__item.hover 2
                    a(href="#").pagination__item 3
                    a(href="#").pagination__item 4
                    a(href="#").pagination__item.interval ...
                    a(href="#").pagination__item 350
    .uikit__item.uikit__links
        .container
            .uikit__heading-title links
            .uikit__links-wrapper
                .uikit__links-item
                    a(href="#").link https://ofis-centr.ua/oplata_ta_dostavka
                .uikit__links-item
                    a(href="#").link https://ofis-centr.ua/oplata_ta_dostavka
                    a(href="#").link.hover https://ofis-centr.ua/oplata_ta_dostavka
                    a(href="#").link.visited https://ofis-centr.ua/oplata_ta_dostavka
    .uikit__item.uikit__breadcrums
        .container
            .uikit__heading-title breadcrums
            .uikit__breadcrums-wrapper
                .breadcrums
                    a(href="#").breadcrums__item Головна
                    a(href="#").breadcrums__item Каталог фото
                    a(href="#").breadcrums__item Фото
    .uikit__item.uikit__list
        .container
            .uikit__heading-title Numbered and unnumbered links
            .uikit__list-wrapper
                ol
                    li
                        span Безкоштовна доставка
                    li
                        span Особистий менеджер
                    li
                        span Філіжанка кави при візиті
                    li
                        span Комплексне обслуговування
                    li
                        span Додаткові послуги
                        ul
                            li
                                span Заправка картриджів;
                            li
                                span Безкоштовна діагностика картриджів;
                            li
                                span Ламінування;
                            li
                                span Виготовлення печаток та штампів
                                ul.list-dash
                                    li
                                        span Пакет «VIP»
                                    li
                                        span Пакет «Оптимальний»
                                    li
                                        span Пакет «Ефективний»
                                    li
                                        span Пакет «Бюджетний»
                    li
                        span 22 роки разом з Вами
    .uikit__item.uikit__dropdowns
        .container
            .uikit__heading-title dropdowns
            .uikit__dropdowns-wrapper
                .dropdown
                    select#town-select
                        option(value='all-towns') Всі міста
                        option(value='town1') м. Тернопіль
                        option(selected='', value='town2') м. Хмельницький
                        option(value='town3') м. Чемерівці
    .uikit__item.uikit__scroll
        .container
            .uikit__heading-title scroll
            .uikit__scroll-wrapper
                .test-scroll-wrapper.scroll
                    .test-scroll-block
    .uikit__item.uikit__tags
        .container
            .uikit__heading-title tags
            .uikit__tags-wrapper
                .tags.js-tags
                    span(data-tag="tag1").tags__item.active #конюх
                    span(data-tag="tag2").tags__item #коневодство
                    span(data-tag="tag3").tags__item #лошадь
                    span(data-tag="tag4").tags__item #высокие_сапоги
                    span(data-tag="tag5").tags__item #зипун
                    span(data-tag="tag6").tags__item #картуз

dist/uikit.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <div class="page-body" id="page-body">
      <div class="uikit">
        <div class="uikit__header">
          <div class="container">
            <div class="uikit__header-wrapper">
              <h1 class="uikit__title">Заплутаними стежками історії українських Мазур</h1><span class="uikit__subtitle">Мить, що залишиться в пам’яті…</span>
              <div class="uikit__header-logos">
                <div class="uikit__logos-item uikit__logos-item--ukrdim">
                  <div class="uikit__logos-text"><span>За підтримки:</span></div>
                  <div class="uikit__logos-img">
                    <svg class="icon icon-ukr-logo ">
                      <use xlink:href="img/svgsprite/sprite.svg#ukr-logo"></use>
                    </svg>
                  </div>
                </div>
                <div class="uikit__logos-item uikit__logos-item--ploskiriv">
                  <div class="uikit__logos-text"><span>Реалізація проекту:</span></div>
                  <div class="uikit__logos-img">
                    <svg class="icon icon-ploskiriv-logo ">
                      <use xlink:href="img/svgsprite/sprite.svg#ploskiriv-logo"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__menublock">
          <div class="container">
            <div class="uikit__heading-title">main menu</div>
          </div>
          <div class="header">
            <div class="container">
              <div class="header__wrapper"><a class="header__logo" href="/">
                  <svg class="icon icon-logo ">
                    <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
                  </svg></a>
                <div class="header__content">
                  <nav class="menu">
                    <div class="menu__item menu__submenu"><a class="menu__link" href="#">Історія Мазур</a>
                      <ul class="menu__sublist">
                        <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                        <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                        <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                        <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                      </ul>
                    </div>
                    <div class="menu__item"><a class="menu__link" href="#">Фото</a></div>
                    <div class="menu__item"><a class="menu__link" href="#">Документи</a></div>
                    <div class="menu__item menu__submenu"><a class="menu__link" href="#">Родинні історії</a>
                      <ul class="menu__sublist">
                        <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Гречан</a></li>
                        <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Плоскірова</a></li>
                        <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Мацьківець</a></li>
                        <li><a class="menu__sublist-link" href="#">Iсторії Мазур з Шаровечки</a></li>
                      </ul>
                    </div>
                    <div class="menu__item"><a class="menu__link" href="#">Про проект</a></div>
                    <div class="menu__item"><a class="menu__link" href="#">Джерела</a></div>
                  </nav>
                  <div class="header__content-bottom">
                    <form class="header__search">
                      <input class="header__search-input" type="search" name="header-search" id="header-search" placeholder="Пошук фото"><i class="header__search-submit">
                        <svg class="icon icon-ico-search ">
                          <use xlink:href="img/svgsprite/sprite.svg#ico-search"></use>
                        </svg></i>
                    </form>
                    <div class="header__lang"><a class="header__lang-link" href="#"><span id="site-lang">ua</span></a>
                      <ul class="header__lang-list">
                        <li><a href="#">ru</a></li>
                        <li><a href="#">pl</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="header__login"><a class="login-btn" href="#">вхід</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__colors">
          <div class="container">
            <div class="uikit__heading-title">цвета</div>
            <div class="uikit__colors-wrapper">
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--lightgreen"></div><span class="uikit__colors-text">#5ff5cf</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--green"></div><span class="uikit__colors-text">#50ccad</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--darkgreen"></div><span class="uikit__colors-text">#3c9982</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--orange"></div><span class="uikit__colors-text">#f66c19</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--white"></div><span class="uikit__colors-text">#ffffff</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--lightgray"></div><span class="uikit__colors-text">#f8f8f8</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--gray"></div><span class="uikit__colors-text">#ebebeb</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--darkgray"></div><span class="uikit__colors-text">#393a3e</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--lightblack"></div><span class="uikit__colors-text">#262626</span>
              </div>
              <div class="uikit__colors-item">
                <div class="uikit__colors-block uikit__colors-block--black"></div><span class="uikit__colors-text">#000000</span>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__btns">
          <div class="container">
            <div class="uikit__heading-title">кнопки</div>
            <div class="uikit__btns-wrapper">
              <div class="uikit__btns-item">
                <div class="uikit__btns-content">
                  <div class="uikit__btns-info"><span>Обычное состояние</span><span>#5ff5cf</span></div><a class="btn" href="#"><span>детально</span>
                    <svg class="icon icon-btn-bg ">
                      <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                    </svg></a>
                </div>
                <div class="uikit__btns-content">
                  <div class="uikit__btns-info"><span>Момент нажатия</span><span>#3c9982</span></div><a class="btn active" href="#"><span>детально</span>
                    <svg class="icon icon-btn-bg ">
                      <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                    </svg></a>
                </div>
              </div>
              <div class="uikit__btns-item">
                <div class="uikit__btns-content">
                  <div class="uikit__btns-info"><span>Наведение</span><span>#50ccad</span></div><a class="btn hover" href="#"><span>детально</span>
                    <svg class="icon icon-btn-bg ">
                      <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                    </svg></a>
                </div>
                <div class="uikit__btns-content">
                  <div class="uikit__btns-info"><span>Кнопка не активна</span><span>#3c9982</span></div><a class="btn unactive" href="#"><span>детально</span>
                    <svg class="icon icon-btn-bg ">
                      <use xlink:href="img/svgsprite/sprite.svg#btn-bg"></use>
                    </svg></a>
                </div>
              </div>
              <div class="uikit__btns-item uikit__btns-item--login">
                <div class="uikit__btns-content">
                  <div class="uikit__btns-info"><span>Обычное состояние</span></div><a class="login-btn" href="#">вхід</a>
                </div>
                <div class="uikit__btns-content">
                  <div class="uikit__btns-info"><span>Наведение</span><span>#ffffff</span></div><a class="login-btn hover" href="#">вхід</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__tabs">
          <div class="container">
            <div class="uikit__heading-title">tabs</div>
            <div class="tab">
              <div class="tab__wrapper js-tab">
                <div class="tab__item active"><span>назва</span></div>
                <div class="tab__item"><span>назва</span></div>
                <div class="tab__item"><span>назва</span></div>
              </div>
              <div class="tab__content">
                <div class="tab__content-item active"><span>content 1</span></div>
                <div class="tab__content-item"><span>content 2</span></div>
                <div class="tab__content-item"><span>content 3</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__text">
          <div class="container">
            <div class="uikit__heading-title">block text</div>
            <div class="uikit__text-wrapper">
              <p><b>«Історія Українських Мазур»</b>&nbsp;— это открытый и общедоступный фотоархив, который охватывает почти полтора века российской истории. Здесь вы найдете любительские фотографии, сделанные <br>в России в периодс 1840 по 1999 годы.</p>
              <p>Проект объединяет снимки из разных источников. Это музейные собрания, фототеки организаций, газет и журналов и личные коллекции. Любой пользователь может пополнить архив, загрузив на сайт фотографии из домашних фотоальбомов.</p>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__text">
          <div class="container">
            <div class="uikit__heading-title">selected text</div>
            <div class="uikit__text-wrapper">
              <p><b>«Історія Українських Мазур»</b>&nbsp;—&nbsp;<span class="selected-text">это открытый и общедоступный <br>фотоархив, который охватывает почти полтора века российской истории.</span><br>Здесь вы найдете любительские фотографии, сделанные <br>в России в периодс 1840 по 1999 годы.</p>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__userpic">
          <div class="container">
            <div class="uikit__heading-title">user pic</div>
            <div class="uikit__userpic-wrapper">
              <div class="userpic">
                <div class="userpic__img"><img src="./img/userpic.png" alt=""></div>
                <div class="userpic__info"><span class="userpic__text" id="first-name">Yevgeny</span><span class="userpic__text" id="last-name">Oleksyuk</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__headings">
          <div class="container">
            <div class="uikit__heading-title">headings</div>
            <div class="uikit__headings-wrapper">
              <div class="uikit__headings-item"><span class="uikit__headings-name">heading 01</span>
                <h1>Мазур</h1>
              </div>
              <div class="uikit__headings-item"><span class="uikit__headings-name">heading 02</span>
                <h2>Про нас</h2>
              </div>
              <div class="uikit__headings-item"><span class="uikit__headings-name">heading 02</span>
                <h3>Популярні Категорії</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__quote">
          <div class="container">
            <div class="uikit__heading-title">quote</div>
            <div class="uikit__quote-wrapper">
              <div class="quote"><span>Ми пропонуємо великий вибір мольбертів: як художніх, <br>так і для творчого розвитку дитини.</span><span>Придбайте протягом лютого будь-який мольберт у мережі магазинів «Офіс-Центр» та отримайте знижку 10%!</span></div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__form">
          <div class="container">
            <div class="uikit__heading-title">form</div>
            <div class="uikit__form-wrapper">
              <input type="text" placeholder="Ваш коментар">
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__radiobutton">
          <div class="container">
            <div class="uikit__heading-title">radiobutton</div>
            <div class="uikit__radiobutton-wrapper">
              <div class="radiobutton">
                <div class="radiobutton__wrapper">
                  <label for="radio"><span>Кур'єрська Доставка</span>
                    <input type="radio" id="radio" name="radio"><i></i>
                  </label>
                </div>
                <div class="radiobutton__wrapper">
                  <label for="radio2"><span>Доставка На Вiддiлення</span>
                    <input type="radio" id="radio2" name="radio"><i></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__comments">
          <div class="container">
            <div class="uikit__heading-title">comments</div>
            <div class="uikit__comments-wrapper">
              <div class="comments">
                <div class="comments__item">
                  <div class="comments__img"><img src="./img/comment-photo-1.png" alt=""></div>
                  <div class="comments__info">
                    <div class="comments__name"><span>Yana Rozenblit</span></div>
                    <div class="comments__text"><span>Кому бесплатно котика, Хмельницький! <br>Смотрите на этих няшных жопсиков, а лучше берите себе</span></div>
                  </div>
                </div>
                <div class="comments__item">
                  <div class="comments__img"><img src="./img/comment-photo-2.png" alt=""></div>
                  <div class="comments__info">
                    <div class="comments__name"><span>Vadym Bondar</span></div>
                    <div class="comments__text"><span>це був прекрасний час/it was a great time! <br>дякую усім причетним! special thanks to Cisco & The Racecars</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__checkbox">
          <div class="container">
            <div class="uikit__heading-title">checkbox</div>
            <div class="uikit__checkbox-wrapper">
              <div class="checkbox">
                <div class="checkbox__wrapper">
                  <label for="checkbox"><span>Checkbox</span>
                    <input type="checkbox" id="checkbox" name="checkbox"><i></i>
                  </label>
                </div>
                <div class="checkbox__wrapper">
                  <label for="checkbox2"><span>Checkbox</span>
                    <input type="checkbox" id="checkbox2" name="checkbox"><i></i>
                  </label>
                </div>
                <div class="checkbox__wrapper">
                  <label for="checkbox3"><span>Checkbox</span>
                    <input type="checkbox" id="checkbox3" name="checkbox"><i></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__table">
          <div class="container">
            <div class="uikit__heading-title">table</div>
            <div class="uikit__table-wrapper">
              <div class="table">
                <table>
                  <tbody>
                    <tr>
                      <td><span>Ліцензія</span></td>
                      <td><span>Н / Д</span></td>
                    </tr>
                    <tr>
                      <td><span>Стать</span></td>
                      <td><span>Жіноча</span></td>
                    </tr>
                    <tr>
                      <td><span>корпус</span></td>
                      <td><span>Пiдвищена зносостійкість</span></td>
                    </tr>
                    <tr>
                      <td><span>спинка</span></td>
                      <td><span>Без жосткоъ ортопедичноъ основи</span></td>
                    </tr>
                    <tr>
                      <td><span>плечові лямки</span></td>
                      <td><span>Плавна амортизація</span></td>
                    </tr>
                    <tr>
                      <td><span>додатково</span></td>
                      <td><span>Бокові кармани</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__pagination">
          <div class="container">
            <div class="uikit__heading-title">pagination</div>
            <div class="uikit__pagination-wrapper">
              <div class="pagination" data-pagination="1"><a class="pagination__item active" href="#">1</a><a class="pagination__item" href="#">2</a><a class="pagination__item" href="#">3</a><a class="pagination__item" href="#">4</a><a class="pagination__item interval" href="#">...</a><a class="pagination__item" href="#">350</a></div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__pagination">
          <div class="container">
            <div class="uikit__heading-title">pagination hover</div>
            <div class="uikit__pagination-wrapper">
              <div class="pagination" data-pagination="1"><a class="pagination__item active" href="#">1</a><a class="pagination__item hover" href="#">2</a><a class="pagination__item" href="#">3</a><a class="pagination__item" href="#">4</a><a class="pagination__item interval" href="#">...</a><a class="pagination__item" href="#">350</a></div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__links">
          <div class="container">
            <div class="uikit__heading-title">links</div>
            <div class="uikit__links-wrapper">
              <div class="uikit__links-item"><a class="link" href="#">https://ofis-centr.ua/oplata_ta_dostavka</a></div>
              <div class="uikit__links-item"><a class="link" href="#">https://ofis-centr.ua/oplata_ta_dostavka</a><a class="link hover" href="#">https://ofis-centr.ua/oplata_ta_dostavka</a><a class="link visited" href="#">https://ofis-centr.ua/oplata_ta_dostavka</a></div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__breadcrums">
          <div class="container">
            <div class="uikit__heading-title">breadcrums</div>
            <div class="uikit__breadcrums-wrapper">
              <div class="breadcrums"><a class="breadcrums__item" href="#">Головна</a><a class="breadcrums__item" href="#">Каталог фото</a><a class="breadcrums__item" href="#">Фото</a></div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__list">
          <div class="container">
            <div class="uikit__heading-title">Numbered and unnumbered links</div>
            <div class="uikit__list-wrapper">
              <ol>
                <li><span>Безкоштовна доставка</span></li>
                <li><span>Особистий менеджер</span></li>
                <li><span>Філіжанка кави при візиті</span></li>
                <li><span>Комплексне обслуговування</span></li>
                <li><span>Додаткові послуги</span>
                  <ul>
                    <li><span>Заправка картриджів;</span></li>
                    <li><span>Безкоштовна діагностика картриджів;</span></li>
                    <li><span>Ламінування;</span></li>
                    <li><span>Виготовлення печаток та штампів</span>
                      <ul class="list-dash">
                        <li><span>Пакет «VIP»</span></li>
                        <li><span>Пакет «Оптимальний»</span></li>
                        <li><span>Пакет «Ефективний»</span></li>
                        <li><span>Пакет «Бюджетний»</span></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><span>22 роки разом з Вами</span></li>
              </ol>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__dropdowns">
          <div class="container">
            <div class="uikit__heading-title">dropdowns</div>
            <div class="uikit__dropdowns-wrapper">
              <div class="dropdown">
                <select id="town-select">
                  <option value="all-towns">Всі міста</option>
                  <option value="town1">м. Тернопіль</option>
                  <option selected="" value="town2">м. Хмельницький</option>
                  <option value="town3">м. Чемерівці</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__scroll">
          <div class="container">
            <div class="uikit__heading-title">scroll</div>
            <div class="uikit__scroll-wrapper">
              <div class="test-scroll-wrapper scroll">
                <div class="test-scroll-block"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="uikit__item uikit__tags">
          <div class="container">
            <div class="uikit__heading-title">tags</div>
            <div class="uikit__tags-wrapper">
              <div class="tags js-tags"><span class="tags__item active" data-tag="tag1">#конюх</span><span class="tags__item" data-tag="tag2">#коневодство</span><span class="tags__item" data-tag="tag3">#лошадь</span><span class="tags__item" data-tag="tag4">#высокие_сапоги</span><span class="tags__item" data-tag="tag5">#зипун</span><span class="tags__item" data-tag="tag6">#картуз</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- inject:js -->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/lib/autosize.min.js"></script>
<script src="js/vendor/lib/dotdotdot.js"></script>
<script src="js/vendor/lib/jquery-ui.min.js"></script>
<script src="js/vendor/lib/jquery.fancybox.min.js"></script>
<script src="js/vendor/lib/jquery.formstyler.min.js"></script>
<script src="js/vendor/lib/jquery.mask.js"></script>
<script src="js/vendor/lib/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/jquery.validate.min.js"></script>
<script src="js/vendor/lib/messages_uk.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<script src="js/vendor/lib/slick.min.js"></script>
<!-- endinject -->

  <script src="js/common.js"></script>
</html>
